<div class="container">
  <div class="row">
    <div class="create-phongtro" *ngIf="listPT.length === 0">
      <p>Bạn chưa tạo phòng trọ nào !</p>
      <a class="btn-modal" [routerLink]="['/phongtro/create']">Tạo phòng trọ</a>
    </div>
    <ul *ngIf="listPT.length !== 0">
      <li *ngFor="let item of listPT">
        <div class="phongtro-block left">
          <a [routerLink]="['/phongtro/detail', item.id]">
            <img [src]="item.hinhanh" class="left">
            <div class="phongtro-info left">
              <p><span>Địa chỉ:</span>{{item.diachi}}</p>
              <p><span>Diện tích (m<sup>2</sup>):</span>{{item.dientich}}</p>
              <p><span>Số người cần tìm:</span>{{item.songuoi}}</p>
            </div>
          </a>
        </div>
        <button class="fa fa-wrench btn-modal right" (click)="editPT(item)"></button>
        <button class="fa fa-times btn-modal right" (click)="showConfirm(item)"></button>
      </li>
    </ul>
  </div>
</div>
<div bsModal #confirmModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="confirmModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h2 class="modal-title">Xóa phòng trọ</h2>
      </div>
      <div class="modal-body" *ngIf="ptXoa">
        <div class="confirm-form">
          <p class="header">Bạn thật sự muốn xóa phòng trọ này ???</p>
          <p>{{ptXoa.diachi}}</p>
          <p>{{ptXoa.dientich}}</p>
          <p>{{ptXoa.songuoi}}</p>
          <p>{{ptXoa.giatien}}</p>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn-modal left" (click)="xoaPT(); confirmModal.hide();">Xóa phòng trọ này</button>
        <button class="btn-modal right" (click)="confirmModal.hide();">Không</button>
      </div>
    </div>
  </div>
</div>
