.container,
.row,
.create-phongtro,
ul {
  min-height: calc(100% - 140px);
}

.create-phongtro {
  text-align: center;
  padding-bottom: 50px;
}

.create-phongtro .btn-modal {
  padding: 20px;
}

.create-phongtro p {
  font-size: 40px;
  color: #aaaaaa;
  margin-bottom: 50px;
}

.create-phongtro,
ul {
  padding-top: 30px;
}

li {
  overflow: hidden;
  margin-bottom: 30px;
}

li .btn-modal {
  width: calc(5% - 10px);
  margin-bottom: 20px;
  padding: 10px;
}

.phongtro-block {
  border: 1px solid #dddddd;
  margin-right: 10px;
  width: 95%;
}

.phongtro-block a {
  display: block;
  overflow: hidden;
  transition: all .5s ease-in-out;
  font-weight: 700;
}

.phongtro-block a:hover {
  background-color: #2c3e50;
  outline: blue;
  color: #fcdd44;
}

.phongtro-block img {
  width: 25%;
  height: 200px;
}

.phongtro-block .phongtro-info {
  width: 73%;
  padding-left: 30px;
  padding-top: 10px;
}

.phongtro-block .phongtro-info p {
  padding-bottom: 15px;
}

.phongtro-block .phongtro-info span {
  color: #aaaaaa;
  margin-right: 10px;
}

.phongtro-block .phongtro-info span.date {
  font-weight: normal;
}

.confirm-form p.header {
  text-align: center;
  color: #c7254e;
  font-size: 25px;
  margin-bottom: 10px;
}

.confirm-form .content {
  padding: 0 20px;
}

.confirm-form .content p {
  margin-bottom: 10px;
  font-size: 16px;
}

.confirm-form .content p:last-of-type {
  margin-bottom: 0;
}

.confirm-form .content p span {
  color: #aaaaaa;
  margin-right: 5px;
}
