<div class="tm-home-box-1">
  <p id="hotelCarTabs">Phòng trọ</p>
  <div class="tab-pane fade in active tm-white-bg" id="hotel">
    <div class="tm-search-box effect2">
      <form class="hotel-search-form" [formGroup]="complexForm" (ngSubmit)="submitForm(complexForm.value)">
        <div class="tm-form-inner">
          <div class="form-group">
            <label>Khoản tiền</label>
            <p class="sliderValue">
              <span>{{ sliderValue[0] }}</span>
              <span class="right">{{ sliderValue[1] }}</span>
            </p>
            <nouislider [connect]="true" [min]="500000" [max]="5000000" [step]="500000" [formControl]="complexForm.controls['giatien']" [(ngModel)]="sliderValue"></nouislider>
          </div>
          <div class="form-group" [ngClass]="{'has-error':!complexForm.controls['truong'].valid && complexForm.controls['truong'].touched}">
            <label>Trường học:</label>
            <input class="form-control" type="text" placeholder="Trường học" [formControl]="complexForm.controls['truong']">
            <!-- <span *ngIf="searching"> searching...</span> -->
            <!-- <div *ngIf="complexForm.controls['truong'].hasError('required') && complexForm.controls['truong'].touched" class="alert alert-danger">
              You must include first name.
            </div> -->
          </div>
          <div class="form-group" [ngClass]="{'has-error':!complexForm.controls['nganh'].valid && complexForm.controls['nganh'].touched}">
            <label>Ngành học</label>
            <input class="form-control" type="text" placeholder="Chuyên ngành" [formControl]="complexForm.controls['nganh']">
            <!-- <div *ngIf="complexForm.controls['nganh'].hasError('required') && complexForm.controls['nganh'].touched" class="alert alert-danger">
              You must include last name.
            </div>
            <div *ngIf="complexForm.controls['nganh'].hasError('minlength') && complexForm.controls['nganh'].touched" class="alert alert-danger">
              Last name min length is 5.
            </div>
            <div *ngIf="complexForm.controls['nganh'].hasError('maxlength') && complexForm.controls['nganh'].touched" class="alert alert-danger">
              Last name max length is 10.
            </div> -->
          </div>
          <div class="form-group">
            <label>Giới tính</label>
            <!-- <div class="alert alert-danger" *ngIf="!complexForm.controls['gioitinh'].valid && complexForm.controls['gioitinh'].touched">
              You must select a gioitinh.
            </div> -->
            <div class="radio">
              <label>
                <input type="checkbox" name="gioitinh" value="nam" [formControl]="complexForm.controls['gioitinh']" [checked]="checkboxValue" (change)="setCheckboxValue()"> Nam
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="checkbox" name="gioitinh" value="nữ" [formControl]="complexForm.controls['gioitinh']" [checked]="!checkboxValue" (change)="setCheckboxValue()"> Nữ
              </label>
            </div>
          </div>
        </div>
        <div class="form-group tm-yellow-gradient-bg text-center">
          <button type="submit" name="submit" [disabled]="!complexForm.valid" class="tm-yellow-btn">Tìm kiếm</button>
        </div>
      </form>
    </div>
  </div>
</div>
