<div class="page-content">
  <div class="left row margin-bottom-30">
    <div class="chart col-lg-4 col-md-4">
      <canvas baseChart [datasets]="datasetsUsers" [labels]="labelsUsers" [chartType]="'doughnut'">
      </canvas>
    </div>
    <div class="chart col-lg-8 col-md-8">
      <canvas baseChart [datasets]="datasetsNewUsers" [labels]="labelsNewUsers" [options]="options" [chartType]="'bar'">
      </canvas>
    </div>
  </div>
  <div class="left custom-table">
    <div class="table-header">
      <h2>Danh sách user</h2>
    </div>
    <div class="table-content">
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Username</th>
            <th>Họ tên</th>
            <th colspan="3">Địa chỉ</th>
            <th>Email</th>
            <th>Số điện thoại</th>
            <th>Độ tin cậy</th>
            <th>Cập nhật</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of listUser, let i = index">
            <th>{{item.id}}</th>
            <td>{{item.username}}</td>
            <td>{{item.hoten}}</td>
            <td colspan="3">{{item.diachi}}</td>
            <td>{{item.email}}</td>
            <td>{{item.sodt}}</td>
            <td>{{item.dotincay}}</td>
            <td>
              <input type="button" class="btn-modal" (click)="updateUser(i)" name="submit" value="Cập nhật">
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
