<div bsModal [config]="modalOptions" #registerModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h2 class="modal-title">Đăng ký</h2>
      </div>
      <div class="modal-body">
        <div *ngIf="registerSuccess" class="register-success">
          <p>Chúc mừng, bạn đã đăng ký thành công !</p>
          <span class="right">Tự động đăng nhập trong 5 giây</span>
        </div>
        <div *ngIf="!registerSuccess" class="register-form">
          <div class="register">
            <form [formGroup]="complexForm" (ngSubmit)="submitForm(complexForm.value)">
              <input class="input-modal" type="text" [formControl]="complexForm.controls['username']" name="username" placeholder="Tài khoản">
              <alert [type]="'danger'" *ngIf="complexForm.controls['username'].hasError('required') && complexForm.controls['username'].touched">
                Bạn chưa nhập tài khoản.
              </alert>
              <input class="input-modal" type="password" [formControl]="complexForm.controls['password']" name="password" placeholder="Mật khẩu">
              <alert [type]="'danger'" *ngIf="complexForm.controls['password'].hasError('required') && complexForm.controls['password'].touched">
                Bạn chưa nhập mật khẩu.
              </alert>
              <input class="input-modal" type="text" [formControl]="complexForm.controls['hoten']" name="hoten" placeholder="Họ tên">
              <alert [type]="'danger'" *ngIf="complexForm.controls['hoten'].hasError('required') && complexForm.controls['hoten'].touched">
                Bạn chưa nhập họ tên.
              </alert>
              <input class="input-modal" type="email" [formControl]="complexForm.controls['email']" name="email" placeholder="Email">
              <alert [type]="'danger'" *ngIf="complexForm.controls['email'].hasError('required') && complexForm.controls['email'].touched">
                Bạn chưa nhập email.
              </alert>
              <div *ngIf="!canRegister">
                <alert *ngFor="let item of errorMsg" [type]="'danger'" [dismissOnTimeout]="5000" (close)="closeAlert()">
                  {{item?.msg}}
                </alert>
              </div>
              <div class="send-button">
                <input class="btn-modal" type="submit" value="Đăng ký">
              </div>
            </form>
            <div class="social-icons">
              <p>- Đăng nhập với -</p>
              <ul>
                <li>
                  <a (click)="socialLogin('facebook')">
                    <i class="fa fa-facebook"></i>
                    <span class="text">Facebook</span>
                  </a>
                </li>
                <li>
                  <a (click)="socialLogin('google')">
                    <i class="fa fa-google-plus"></i>
                    <span class="text">Google+</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
