.register-success {
  overflow: hidden;
}

.register-success p {
  text-align: center;
  color: #3FB8AF;
  font-size: 36px;
  margin-bottom: 15px;
}

.register-success span {
  color: gray;
  font-size: 14px;
}

.register form {
  margin-bottom: 20px;
}
