<div bsModal [config]="modalOptions" #registerModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h2 class="modal-title">Đăng ký</h2>
      </div>
      <div class="modal-body">
        <div class="register-form">
          <div class="register">
            <form [formGroup]="complexForm" (ngSubmit)="submitForm(complexForm.value)">
              <input type="text" [formControl]="complexForm.controls['username']" name="username" placeholder="Tài khoản">
              <input type="password" [formControl]="complexForm.controls['password']" name="password" placeholder="Mật khẩu">
              <input type="text" [formControl]="complexForm.controls['hoten']" name="hoten" placeholder="Họ tên">
              <input type="email" [formControl]="complexForm.controls['email']" name="email" placeholder="Email">
              <div class="send-button">
                <input class="btn-modal" type="submit" value="Đăng ký">
              </div>
            </form>
            <div class="social-icons">
              <p>- Đăng nhập với -</p>
              <ul>
                <li>
                  <a routerLink="/">
                    <i class="fa fa-facebook"></i>
                    <span class="text">Facebook</span>
                  </a>
                </li>
                <li>
                  <a routerLink="/">
                    <i class="fa fa-twitter"></i>
                    <span class="text">Twitter</span>
                  </a>
                </li>
                <li>
                  <a routerLink="/">
                    <i class="fa fa-google-plus"></i>
                    <span class="text">Google+</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
