/* Header & Nav */

.tm-header {
  background: #333333;
  position: relative;
  z-index: 200;
}

.tm-site-name-container {
  padding-top: 5px;
  padding-bottom: 15px;
}

.tm-site-name {
  position: relative;
  display: block;
  width: 90px;
}

.tm-site-name:after {
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 3px;
  // background-color: #FF720B;
  background-color: #f9ee44;
  content: "";
  transition: width 0.2s;
}

.tm-site-name:hover:after,
.tm-site-name.active:after {
  width: 100%;
}

.tm-nav {
  display: block;
}

.tm-nav > ul > li {
  float: left;
}

.tm-nav li a,
.tm-nav li button {
  border: none;
  border-radius: initial;
  color: #aaaaaa;
  background: transparent;
  display: block;
  padding: 45px 15px 15px;
  text-transform: uppercase;
  transition: all 0.3s ease;
  font-weight: bold;
}

.tm-nav li a.active,
.tm-nav li a:focus,
.tm-nav li a:hover,
.tm-nav .dropdown.open button,
.tm-nav .dropdown button:hover {
  background: #FCDD44;
  color: #000000;
}

.dropdown-menu {
  right: 0;
  left: initial;
}

.dropdown-menu li a {
  text-align: right;
  padding: 10px;
}

.logout-form p {
  text-align: center;
  color: #c7254e;
  font-size: 36px;
}

.btn-modal {
  font-size: 20px;
  width: 150px;
}
