/* Header & Nav */

.tm-header {
  background: #000000;
  position: relative;
  z-index: 100;
}

.tm-site-name-container {
  padding-top: 20px;
  padding-bottom: 20px;
}

.tm-site-name {
  color: #FCDD44;
  font-size: 27px;
  font-weight: 600;
}

.tm-site-name:hover {
  color: #FF720B;
}

.mobile-menu-icon {
  display: none;
}

.tm-nav {
  display: block;
}

.tm-nav > ul > li {
  float: left;
}

.tm-nav li a,
.tm-nav li button {
  border: none;
  border-radius: initial;
  color: white;
  background: transparent;
  display: block;
  padding: 45px 15px 15px;
  text-transform: uppercase;
  transition: all 0.3s ease;
  font-weight: bold;
}

.tm-nav li a.active,
.tm-nav li a:focus,
.tm-nav li a:hover,
.tm-nav .dropdown.open button,
.tm-nav .dropdown button:hover {
  background: #FCDD44;
  color: #000000;
}

.dropdown-menu {
  right: 0;
  left: initial;
}

.dropdown-menu li a {
  text-align: right;
  padding: 10px;
}

.logout-form p {
  text-align: center;
  color: #c7254e;
  font-size: 36px;
}

.btn-modal {
  font-size: 20px;
  width: 150px;
}
