<div class="row deals-block new-deals">
  <ul class="deals-list" *ngIf="deals && deals.length > 0">
    <li *ngFor="let item of deals">
      <a [routerLink]="['/phongtro/detail', item.id]">
        <div class="phongtro-img">
          <img [src]="item.hinhanh" [alt]="item.diachi" class="img-responsive">
        </div>
        <div class="phongtro-info border-b-dotted">
          <h3>{{item.diachi | uppercase}}</h3>
          <ul>
            <li>
              <i class="fa fa-building-o"></i>
              <span>{{item.dientich}}</span>
            </li>
            <li>
              <i *ngIf="item.gioitinh === 'nam'" class="fa fa-mars"></i>
              <i *ngIf="item.gioitinh === 'nữ'" class="fa fa-venus"></i>
              <i *ngIf="item.gioitinh === ''" class="fa fa-user-o"></i>
              <span>{{item.songuoi}}</span>
            </li>
            <li>
              <i class="fa fa-wifi"></i>
              <span *ngIf="item.wifi === 0">Không</span>
              <span *ngIf="item.wifi === 1">Có</span>
            </li>
            <li *ngIf="item.truong && item.truong !== ''">
              <i class="fa fa-university"></i>
              <span>{{item.truong}}</span>
            </li>
          </ul>
        </div>
        <h3 class="phongtro-price" *ngIf="item.giatien > 0 && (item.loaiPhong == 0 || item.loaiPhong == 2)">{{item.giatien | number}}</h3>
        <h3 class="phongtro-price" *ngIf="item.giatienTheoNguoi > 0 && (item.loaiPhong == 1)">{{item.giatienTheoNguoi | number}}</h3>
      </a>
    </li>
    <li class="get-more-btn">
      <a [routerLink]="searchLink" class="" (click)="getMoreDeals()">Xem thêm...</a>
    </li>
  </ul>
</div>
