<div class="page-content">
  <div class="custom-table margin-bottom-30">
    <div class="table-header">
      <h2>Phòng trọ đã phê duyệt</h2>
    </div>
    <div *ngIf="listPhongtroCheckedView.length > 0 && listUser.length > 0" class="table-content">
      <table class="table">
        <thead>
          <tr>
            <th>Username</th>
            <th>Ngày đăng</th>
            <th colspan="3">Địa chỉ</th>
            <th>Giá tiền nguyên phòng</th>
            <th>Giá tiền từng người</th>
            <th>Tiền cọc nguyên phòng</th>
            <th>Tiền cọc từng người</th>
            <th>Số người cần tìm</th>
            <th>Diện tích (m<sup>2</sup>)</th>
            <th>Hủy chấp thuận</th>
          </tr>
        </thead>
        <tbody>
          <tr (click)="updateCheckAll(!listPTNotAccept[i], i)" [ngClass]="{'active': listPTNotAccept[i]}" *ngFor="let item of listPhongtroCheckedView, let i = index">
            <th class="break-word">{{listUser[item.userID]?.username}}</th>
            <td>{{item.ngaydang | date:'dd/MM/yyyy'}}</td>
            <td colspan="3" class="break-word">{{item.diachi}}</td>
            <td>{{item.giatien | number}}</td>
            <td>{{item.giatienTheoNguoi | number}}</td>
            <td>{{item.tiencoc | number}}</td>
            <td>{{item.tiencocTheoNguoi | number}}</td>
            <td>{{item.songuoi | number}}</td>
            <td>{{item.dientich | number}}</td>
            <td>
              <input type="checkbox" name="acceptPT" value="1" [ngModel]="listPTNotAccept[i]" (ngModelChange)="updateCheckAll($event, i)">
            </td>
          </tr>
        </tbody>
      </table>
      <div class="check-all right">
        <span>Chọn tất cả</span>
        <input type="checkbox" (click)="checkAll()" [(ngModel)]="checkAllPT">
      </div>
      <input type="button" class="btn-modal left" (click)="submit()" name="submit" value="Xác nhận">
    </div>
  </div>
</div>
