<div class="container">
  <div class="row create-phongtro-block">
    <div *ngIf="!hasTkNgh">
      <alert *ngFor="let item of errorMsgNgh" [type]="'danger'" [dismissOnTimeout]="5000" (close)="closeAlert('ngh')">
        {{item?.msg}}
      </alert>
    </div>
    <div *ngIf="!hasHinhanh">
      <alert *ngFor="let item of errorMsg" [type]="'danger'" [dismissOnTimeout]="5000" (close)="closeAlert('hinhanh')">
        {{item?.msg}}
      </alert>
    </div>
    <div *ngIf="editSuccess">
      <alert *ngFor="let item of successMsg" [type]="'success'" [dismissOnTimeout]="5000" (close)="closeAlert('success')">
        {{item?.msg}}
      </alert>
    </div>
    <form class="create-phongtro-form" [formGroup]="complexForm" (ngSubmit)="submitForm(complexForm.value)">
      <div class="form-group col-md-4">
        <div ngFileDrop *ngIf="!previewData" [options]="options" (onPreviewData)="handlePreviewData($event)" (onFileOver)="fileOverBase($event)" [events]="uploadEvents" [ngClass]="{'file-over': hasBaseDropZoneOver}" class="drop-zone">
        </div>
        <img *ngIf="previewData" [src]="previewData" alt="Preview Data" class="img-preview">
        <div class="input-btn">
          <input type="file" id="hinhanh-phongtro" ngFileSelect *ngIf="!previewData" [options]="options" (onPreviewData)="handlePreviewData($event)" [events]="uploadEvents">
          <button *ngIf="previewData" (click)="deleteImage()" class="fa fa-times btn-modal">Xóa</button>
        </div>
        <div *ngIf="!hasHinhanh">
          <alert *ngFor="let item of errorMsg" [type]="'danger'" [dismissOnTimeout]="5000" (close)="closeAlert('hinhanh')">
            {{item?.msg}}
          </alert>
        </div>
      </div>
      <div class="col-md-8">
        <div class="info-required">
          <div class="form-group col-md-6">
            <label>Địa chỉ</label>
            <input class="input-modal" type="text" [formControl]="complexForm.controls['sonha']" name="sonha" placeholder="Số nhà và tên đường">
            <alert [type]="'danger'" *ngIf="complexForm.controls['sonha'].hasError('required') && complexForm.controls['sonha'].touched">
              Bạn chưa nhập số nhà và tên đường.
            </alert>
            <input class="input-modal" type="text" [formControl]="complexForm.controls['phuong']" name="phuong" placeholder="Phường">
            <alert [type]="'danger'" *ngIf="complexForm.controls['phuong'].hasError('required') && complexForm.controls['phuong'].touched">
              Bạn chưa nhập phường.
            </alert>
            <input class="input-modal" type="text" [formControl]="complexForm.controls['quan']" name="quan" placeholder="Quận/Huyện">
            <alert [type]="'danger'" *ngIf="complexForm.controls['quan'].hasError('required') && complexForm.controls['quan'].touched">
              Bạn chưa nhập quận/huyện.
            </alert>
            <input class="input-modal" type="text" [formControl]="complexForm.controls['tp']" name="tp" placeholder="Thành phố">
            <alert [type]="'danger'" *ngIf="complexForm.controls['tp'].hasError('required') && complexForm.controls['tp'].touched">
              Bạn chưa nhập thành phố.
            </alert>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Giá tiền</label>
              <input class="input-modal" type="number" [formControl]="complexForm.controls['giatien']" name="giatien" placeholder="2000000">
              <alert [type]="'danger'" *ngIf="complexForm.controls['giatien'].hasError('required') && complexForm.controls['giatien'].touched">
                Bạn chưa nhập giá thuê phòng trọ.
              </alert>
            </div>
            <div class="form-group">
              <label>Diện tích (m<sup>2</sup>)</label>
              <input class="input-modal" type="number" [formControl]="complexForm.controls['dientich']" name="dientich" placeholder="20">
              <alert [type]="'danger'" *ngIf="complexForm.controls['dientich'].hasError('required') && complexForm.controls['dientich'].touched">
                Bạn chưa nhập diện tích phòng trọ.
              </alert>
            </div>
            <div class="form-group">
              <label>Số người cần tìm</label>
              <input class="input-modal" type="number" [formControl]="complexForm.controls['songuoi']" name="songuoi" placeholder="1">
              <alert [type]="'danger'" *ngIf="complexForm.controls['songuoi'].hasError('required') && complexForm.controls['songuoi'].touched">
                Bạn chưa nhập số lượng người cần tìm.
              </alert>
            </div>
          </div>
        </div>
        <div class="form-group col-md-6">
          <label>Tiền cọc</label>
          <input class="input-modal" type="number" [formControl]="complexForm.controls['tiencoc']" name="tiencoc" placeholder="2000000">
        </div>
        <div class="form-group col-md-6">
          <label>Tài khoản ngân hàng</label>
          <input class="input-modal" type="text" [formControl]="complexForm.controls['nganhangID']" name="nganhangID" placeholder="TKNGH123456">
          <div *ngIf="!hasTkNgh">
            <alert *ngFor="let item of errorMsgNgh" [type]="'danger'" [dismissOnTimeout]="5000" (close)="closeAlert('ngh')">
              {{item?.msg}}
            </alert>
          </div>
        </div>
        <div class="form-group col-md-6">
          <label>Trường học:</label>
          <input class="input-modal" type="text" placeholder="Học viện công nghệ bưu chính viễn thông" [formControl]="complexForm.controls['truong']">
        </div>
        <div class="form-group col-md-6">
          <label>Ngành học</label>
          <input class="input-modal" type="text" placeholder="Công nghệ thông tin" [formControl]="complexForm.controls['nganh']">
        </div>
        <div class="form-group col-md-6">
          <label>Niên khóa</label>
          <input class="input-modal" type="text" placeholder="2012 - 2017" [formControl]="complexForm.controls['khoa']">
        </div>
      </div>
      <div class="form-group col-md-4">
        <label>Ở với chủ</label>
        <div class="radio">
          <label>
            <input type="radio" name="chu" value="1" [formControl]="complexForm.controls['chu']" [checked]="initChu">Có
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="chu" value="0" [formControl]="complexForm.controls['chu']" [checked]="!initChu">Không
          </label>
        </div>
      </div>
      <div class="form-group col-md-4">
        <label>Wifi</label>
        <div class="radio">
          <label>
            <input type="radio" name="wifi" value="1" [formControl]="complexForm.controls['wifi']" [checked]="initWifi">Có
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="wifi" value="0" [formControl]="complexForm.controls['wifi']" [checked]="!initWifi">Không
          </label>
        </div>
      </div>
      <div class="form-group col-md-4">
        <label>Giới tính</label>
        <div class="radio">
          <label>
            <input type="radio" name="gioitinh" value="nam" [formControl]="complexForm.controls['gioitinh']" [checked]="initGioitinh"> Nam
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="gioitinh" value="nữ" [formControl]="complexForm.controls['gioitinh']" [checked]="!initGioitinh"> Nữ
          </label>
        </div>
      </div>
      <div class="form-group col-md-8">
        <label>Ghi chú</label>
        <textarea placeholder="Tiền điện, nước, rác, ..." [formControl]="complexForm.controls['ghichu']"></textarea>
      </div>
      <div class="send-button col-md-6">
        <input [disabled]="!complexForm.valid" class="btn-modal" type="submit" value="Tạo phòng trọ">
      </div>
    </form>
  </div>
</div>
