sebm-google-map {
  height: 300px;
}

.create-phongtro-block {
  margin-top: 30px;
  margin-bottom: 30px;
}

.drop-zone {
  min-height: 200px;
  min-width: 200px;
  border: dotted 3px lightgray;
}

.file-over {
  border: dotted 3px red;
}

.img-preview {
  width: 360px;
  height: 200px;
}

.info-required {
  overflow: hidden;
}

.input-btn {
  margin-top: 10px;
  margin-bottom: 10px;
}

.fa.fa-times::before {
  padding-right: 5px;
}

.fa.fa-times.btn-modal {
  font-size: 20px;
  width: 80px;
}

.form-group {
  margin-bottom: 30px;
}

.form-group textarea {
  width: 100%;
  height: 100px;
  padding: 15px;
}
