<sebm-google-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [scrollwheel]="false">
  <sebm-google-map-marker [markerDraggable]="true" (dragEnd)="dragEnd($event)" [latitude]="lat" [longitude]="lng">
    <sebm-google-map-info-window [disableAutoPan]="true" [isOpen]="infoWindowOpen">
      <strong>Kéo thả đến vị trí phòng trọ</strong>
      <strong>hoặc nhập địa chỉ phòng trọ bên dưới</strong>
    </sebm-google-map-info-window>
  </sebm-google-map-marker>
</sebm-google-map>
<div class="container">
  <div class="row create-phongtro-block">
    <div *ngIf="!hasTkNgh">
      <alert *ngFor="let item of errorMsgNgh" [type]="'danger'" [dismissOnTimeout]="5000" (close)="closeAlert('ngh')">
        {{item?.msg}}
      </alert>
    </div>
    <div *ngIf="!hasHinhanh">
      <alert *ngFor="let item of errorMsg" [type]="'danger'" [dismissOnTimeout]="5000" (close)="closeAlert('hinhanh')">
        {{item?.msg}}
      </alert>
    </div>
    <div *ngIf="editSuccess && successMsg[0] && typeEditSuccess === 'danger'">
      <alert [type]="typeEditSuccess" [dismissOnTimeout]="5000" (close)="closeAlert('success')">
        {{successMsg[0].msg}}
      </alert>
    </div>
    <div *ngIf="editSuccess && successMsg[1] && typeEditSuccess === 'danger'">
      <alert [type]="typeEditSuccess" [dismissOnTimeout]="5000" (close)="closeAlert('success')">
        {{successMsg[1].msg}}
      </alert>
    </div>
    <div *ngIf="editSuccess && typeEditSuccess !== 'danger'">
      <alert *ngFor="let item of successMsg" [type]="typeEditSuccess" [dismissOnTimeout]="5000" (close)="closeAlert('success')">
        {{item?.msg}}
      </alert>
    </div>
    <form class="create-phongtro-form" *ngIf="ptDiachi" [formGroup]="complexForm">
      <div class="form-group loai-phong">
        <h1>Loại phòng cho thuê</h1>
        <ul>
          <li class="radio">
            <label>
              <input type="radio" name="loaiPhong" value="2" [formControl]="complexForm.controls['loaiPhong']" [checked]="initLoaiPhong === 2"> Cả hai
            </label>
          </li>
          <li class="radio">
            <label>
              <input type="radio" name="loaiPhong" value="0" [formControl]="complexForm.controls['loaiPhong']" [checked]="initLoaiPhong === 0"> Thuê nguyên phòng
            </label>
          </li>
          <li class="radio">
            <label>
              <input type="radio" name="loaiPhong" value="1" [formControl]="complexForm.controls['loaiPhong']" [checked]="initLoaiPhong === 1"> Thuê từng người
            </label>
          </li>
        </ul>
      </div>
      <div class="form-group col-md-4">
        <div ngFileDrop *ngIf="!previewData" [options]="options" (onPreviewData)="handlePreviewData($event)" (onFileOver)="fileOverBase($event)" [events]="uploadEvents" [ngClass]="{'file-over': hasBaseDropZoneOver}" class="drop-zone">
        </div>
        <img *ngIf="previewData" [src]="previewData" alt="Preview Data" class="img-preview">
        <div class="input-btn">
          <input type="file" id="hinhanh-phongtro" ngFileSelect *ngIf="!previewData" [options]="options" (change)="fileChangeListener($event)" (onPreviewData)="handlePreviewData($event)" [events]="uploadEvents">
          <button *ngIf="previewData" (click)="cropImage.show();" class="fa fa-crosshairs btn-modal">Chỉnh sửa ảnh</button>
          <button *ngIf="previewData" (click)="deleteImage()" class="fa fa-times btn-modal">Xóa</button>
        </div>
        <div *ngIf="!hasHinhanh">
          <alert *ngFor="let item of errorMsg" [type]="'danger'" [dismissOnTimeout]="5000" (close)="closeAlert('hinhanh')">
            {{item?.msg}}
          </alert>
        </div>
      </div>
      <div class="col-md-8">
        <div class="info-required">
          <div class="col-md-6">
            <label>Địa chỉ</label>
            <i class="fa fa-asterisk"></i>
            <input class="input-modal" type="text" (ngModelChange)="onChange($event,'sonha')" [ngModel]="ptDiachi.sonha" [formControl]="complexForm.controls['sonha']" name="sonha" placeholder="Số nhà và tên đường">
            <alert [type]="'danger'" *ngIf="complexForm.controls['sonha'].hasError('required') && complexForm.controls['sonha'].touched">
              Bạn chưa nhập số nhà và tên đường.
            </alert>
            <input class="input-modal" type="text" (ngModelChange)="onChange($event,'phuong')" [ngModel]="ptDiachi.phuong" [formControl]="complexForm.controls['phuong']" name="phuong" placeholder="Phường">
            <alert [type]="'danger'" *ngIf="complexForm.controls['phuong'].hasError('required') && complexForm.controls['phuong'].touched">
              Bạn chưa nhập phường.
            </alert>
            <input class="input-modal" type="text" (ngModelChange)="onChange($event,'quan')" [ngModel]="ptDiachi.quan" [formControl]="complexForm.controls['quan']" name="quan" placeholder="Quận/Huyện">
            <alert [type]="'danger'" *ngIf="complexForm.controls['quan'].hasError('required') && complexForm.controls['quan'].touched">
              Bạn chưa nhập quận/huyện.
            </alert>
            <input class="input-modal" type="text" (ngModelChange)="onChange($event,'tp')" [ngModel]="ptDiachi.tp" [formControl]="complexForm.controls['tp']" name="tp" placeholder="Thành phố">
            <alert [type]="'danger'" *ngIf="complexForm.controls['tp'].hasError('required') && complexForm.controls['tp'].touched">
              Bạn chưa nhập thành phố.
            </alert>
          </div>
          <div class="col-md-6">
            <div *ngIf="complexForm.controls['loaiPhong'].value == 2 || complexForm.controls['loaiPhong'].value == 0" class="form-group">
              <label>Giá thuê nguyên phòng</label>
              <i class="fa fa-asterisk"></i>
              <input class="input-modal" type="text" [formControl]="complexForm.controls['giatien']" [ngModel]="formValue.giatien | number" (ngModelChange)="changeTien($event, 'giatien');" name="giatien" placeholder="Ví dụ: 2,000,000">
              <alert [type]="'danger'" *ngIf="complexForm.controls['giatien'].hasError('required') && complexForm.controls['giatien'].touched">
                Bạn chưa nhập giá thuê nguyên phòng.
              </alert>
              <div *ngIf="!hasGiatien  && successMsg[0]">
                <alert [type]="typeEditSuccess" [dismissOnTimeout]="5000" (close)="closeAlert('success')">
                  {{successMsg[0].msg}}
                </alert>
              </div>
            </div>
            <div *ngIf="complexForm.controls['loaiPhong'].value == 2 || complexForm.controls['loaiPhong'].value == 1" class="form-group">
              <label>Giá thuê từng người</label>
              <i class="fa fa-asterisk"></i>
              <input class="input-modal" type="text" [ngModel]="formValue.giatienTheoNguoi | number" (ngModelChange)="changeTien($event, 'giatienTheoNguoi');" [formControl]="complexForm.controls['giatienTheoNguoi']" name="giatienTheoNguoi" placeholder="Ví dụ: 2,000,000">
              <div *ngIf="!hasGiatien && successMsg[1]">
                <alert [type]="typeEditSuccess" [dismissOnTimeout]="5000" (close)="closeAlert('success')">
                  {{successMsg[1].msg}}
                </alert>
              </div>
              <alert [type]="'danger'" *ngIf="complexForm.controls['giatienTheoNguoi'].hasError('required') && complexForm.controls['giatienTheoNguoi'].touched">
                Bạn chưa nhập giá thuê từng người.
              </alert>
            </div>
            <div class="form-group">
              <label>Diện tích (m<sup>2</sup>)</label>
              <i class="fa fa-asterisk"></i>
              <input class="input-modal" type="text" [ngModel]="formValue.dientich | number" (ngModelChange)="changeTien($event, 'dientich');" [formControl]="complexForm.controls['dientich']" name="dientich" placeholder="Ví dụ: 20">
              <alert [type]="'danger'" *ngIf="complexForm.controls['dientich'].hasError('required') && complexForm.controls['dientich'].touched">
                Bạn chưa nhập diện tích phòng trọ.
              </alert>
              <div *ngIf="!hasDientich">
                <alert *ngFor="let item of successMsg" [type]="typeEditSuccess" [dismissOnTimeout]="5000" (close)="closeAlert('success')">
                  {{item?.msg}}
                </alert>
              </div>
            </div>
            <div class="form-group">
              <label>Số người cần tìm</label>
              <i class="fa fa-asterisk"></i>
              <input class="input-modal" type="text" [ngModel]="formValue.sophong | number" (ngModelChange)="changeTien($event, 'sophong');" [formControl]="complexForm.controls['sophong']" name="sophong" placeholder="Ví dụ: 1">
              <alert [type]="'danger'" *ngIf="complexForm.controls['sophong'].hasError('required') && complexForm.controls['sophong'].touched">
                Bạn chưa nhập số lượng người cần tìm.
              </alert>
              <div *ngIf="!hasSonguoi">
                <alert *ngFor="let item of successMsg" [type]="typeEditSuccess" [dismissOnTimeout]="5000" (close)="closeAlert('success')">
                  {{item?.msg}}
                </alert>
              </div>
            </div>
          </div>
        </div>
        <div class="left">
          <div *ngIf="complexForm.controls['loaiPhong'].value == 2 || complexForm.controls['loaiPhong'].value == 0" class="form-group col-md-6">
            <label>Tiền cọc phòng</label>
            <input class="input-modal" type="text" [ngModel]="formValue.tiencoc | number" (ngModelChange)="changeTien($event, 'tiencoc');" [formControl]="complexForm.controls['tiencoc']" name="tiencoc" placeholder="Ví dụ: 2,000,000">
          </div>
          <div *ngIf="complexForm.controls['loaiPhong'].value == 2 || complexForm.controls['loaiPhong'].value == 1" class="form-group col-md-6">
            <label>Tiền cọc từng người</label>
            <input class="input-modal" type="text" [ngModel]="formValue.tiencocTheoNguoi | number" (ngModelChange)="changeTien($event, 'tiencocTheoNguoi');" [formControl]="complexForm.controls['tiencocTheoNguoi']" name="tiencocTheoNguoi" placeholder="Ví dụ: 2,000,000">
          </div>
          <div class="form-group col-md-6">
            <label>Tài khoản ngân hàng</label>
            <input class="input-modal" type="text" [formControl]="complexForm.controls['nganhangID']" name="nganhangID" placeholder="Ví dụ: TKNGH123456">
            <div *ngIf="!hasTkNgh">
              <alert *ngFor="let item of errorMsgNgh" [type]="'danger'" [dismissOnTimeout]="5000" (close)="closeAlert('ngh')">
                {{item?.msg}}
              </alert>
            </div>
          </div>
        </div>
        <div class="left">
          <div class="form-group col-md-6">
            <label>Chung trường học</label>
            <input class="input-modal" type="text" [(ngModel)]="truong" [typeahead]="listTruong" placeholder="Ví dụ: Học viện CN Bưu chính Viễn thông" [formControl]="complexForm.controls['truong']">
          </div>
          <div class="form-group col-md-6">
            <label>Chung ngành học</label>
            <input class="input-modal" type="text" [(ngModel)]="nganh" [typeahead]="listNganh" placeholder="Ví dụ: Công nghệ thông tin" [formControl]="complexForm.controls['nganh']">
          </div>
          <div class="form-group col-md-6">
            <label>Chung niên học</label>
            <input class="input-modal" type="text" [(ngModel)]="khoa" [typeahead]="listKhoa" placeholder="Ví dụ: 2012" [formControl]="complexForm.controls['khoa']">
          </div>
        </div>
      </div>
      <div>
        <div class="form-group col-md-4">
          <label>Ở với chủ</label>
          <ul>
            <li class="radio">
              <label>
                <input type="radio" name="chu" value="1" [formControl]="complexForm.controls['chu']" [checked]="initChu == 1">Có
              </label>
            </li>
            <li class="radio">
              <label>
                <input type="radio" name="chu" value="0" [formControl]="complexForm.controls['chu']" [checked]="initChu == 0">Không
              </label>
            </li>
          </ul>
        </div>
        <div class="form-group col-md-4">
          <label>Wifi</label>
          <ul>
            <li class="radio">
              <label>
                <input type="radio" name="wifi" value="1" [formControl]="complexForm.controls['wifi']" [checked]="initWifi == 1">Có
              </label>
            </li>
            <li class="radio">
              <label>
                <input type="radio" name="wifi" value="0" [formControl]="complexForm.controls['wifi']" [checked]="initWifi == 0">Không
              </label>
            </li>
          </ul>
        </div>
        <div class="form-group col-md-4">
          <label>Giới tính</label>
          <ul>
            <li class="radio">
              <label>
                <input type="radio" name="gioitinh" value="" [formControl]="complexForm.controls['gioitinh']" [checked]="initGioitinh === ''"> Bất kỳ
              </label>
            </li>
            <li class="radio">
              <label>
                <input type="radio" name="gioitinh" value="nam" [formControl]="complexForm.controls['gioitinh']" [checked]="initGioitinh === 'nam'"> Nam
              </label>
            </li>
            <li class="radio">
              <label>
                <input type="radio" name="gioitinh" value="nữ" [formControl]="complexForm.controls['gioitinh']" [checked]="initGioitinh === 'nữ'"> Nữ
              </label>
            </li>
          </ul>
        </div>
      </div>
      <div class="form-group col-md-8">
        <label>Ghi chú</label>
        <textarea placeholder="Tiền điện, nước, rác, ..." [formControl]="complexForm.controls['ghichu']"></textarea>
      </div>
      <div class="send-button col-md-6">
        <input (click)="submitForm(complexForm.value)" [disabled]="!complexForm.valid" class="btn-modal" type="button" value="Tạo phòng trọ">
      </div>
    </form>
  </div>
</div>
<div bsModal #cropImage="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <div class="cropImage-form">
          <img-cropper #cropper [image]="data1" [settings]="cropperSettings1"></img-cropper>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn-modal left" (click)="cropDone();">Đồng ý</button>
        <button class="btn-modal right" (click)="cropImage.hide();">Hủy bỏ</button>
      </div>
    </div>
  </div>
</div>
