<div class="page-content">
  <div class="chart margin-bottom-30">
    <div class="select-type">
      <h3>Thống kê theo {{nameRadioDiachi[loaiDiachi] | lowercase}}</h3>
      <ul>
        <li class="radio" *ngFor="let item of nameRadioDiachi, let i = index">
          <label>
            <input type="radio" name="loaiDiachi" [value]="i" [ngModel]="loaiDiachi" (ngModelChange)="thongkeDiachi($event)" [checked]="loaiDiachi === i"> {{item}}
          </label>
        </li>
      </ul>
    </div>
    <canvas *ngIf="datasetsDiachi && datasetsDiachi.length > 0" baseChart [data]="datasetsDiachi" [labels]="labelsDiachi" [options]="optionsPolar" [legend]="true" [chartType]="'polarArea'">
    </canvas>
  </div>
  <div class="chart margin-bottom-30">
    <div class="select-type">
      <h3>Thống kê {{nameRadioTvDT[loaiTvDT] | lowercase}}</h3>
      <ul>
        <li class="radio" *ngFor="let item of nameRadioTvDT, let i = index">
          <label>
            <input type="radio" name="loaiTvDT" [value]="i" [ngModel]="loaiTvDT" (ngModelChange)="thongkeTvDT($event)" [checked]="loaiTvDT === i"> {{item}}
          </label>
        </li>
      </ul>
    </div>
    <canvas *ngIf="datasetsTvDT[0].data && datasetsTvDT[0].data.length > 0" baseChart [datasets]="datasetsTvDT" [labels]="labelsTvDT" [options]="options" [chartType]="'bar'">
    </canvas>
  </div>
  <div class="chart margin-bottom-30">
    <div class="select-type">
      <h3>Thống kê {{nameRadioKhac[loaiKhac] | lowercase}}</h3>
      <ul>
        <li class="radio" *ngFor="let item of nameRadioKhac, let i = index">
          <label>
            <input type="radio" name="loaiKhac" [value]="i" [ngModel]="loaiKhac" (ngModelChange)="thongkeKhac($event)" [checked]="loaiKhac === i"> {{item}}
          </label>
        </li>
      </ul>
    </div>
    <canvas *ngIf="datasetsKhac[0].data && datasetsKhac[0].data.length > 0" baseChart [datasets]="datasetsKhac" [labels]="labelsKhac" [options]="options" [chartType]="'bar'">
    </canvas>
  </div>
</div>
