<div class="page-content">
  <div class="row margin-bottom-30">
    <div *ngIf="datasetsDiachi[loaiDiachi]" class="chart">
      <div class="select-type">
        <h3 class="margin-bottom-15">Thống kê theo {{nameRadioDiachi[loaiDiachi] | lowercase}}</h3>
        <ul>
          <li class="radio" *ngFor="let item of nameRadioDiachi, let i = index">
            <label>
              <input type="radio" name="loaiDiachi" [value]="i" [(ngModel)]="loaiDiachi" [checked]="loaiDiachi === i"> {{item}}
            </label>
          </li>
        </ul>
      </div>
      <canvas baseChart [datasets]="datasetsDiachi[loaiDiachi]" [labels]="labelsDiachi[loaiDiachi]" [chartType]="'bar'">
      </canvas>
    </div>
  </div>
  <div class="row margin-bottom-30">
    <div *ngIf="datasetsTvDT[loaiTvDT]" class="chart margin-bottom-30">
      <div class="select-type">
        <h3 class="margin-bottom-15">Thống kê {{nameRadioTvDT[loaiTvDT] | lowercase}}</h3>
        <ul>
          <li class="radio" *ngFor="let item of nameRadioTvDT, let i = index">
            <label>
              <input type="radio" name="loaiTvDT" [value]="i" [(ngModel)]="loaiTvDT" [checked]="loaiTvDT === i"> {{item}}
            </label>
          </li>
        </ul>
      </div>
      <canvas baseChart [datasets]="datasetsTvDT[loaiTvDT]" [labels]="labelsTvDT[loaiTvDT]" [chartType]="'bar'">
      </canvas>
    </div>
    <div *ngIf="datasetsKhac[loaiKhac]" class="chart">
      <div class="select-type">
        <h3 class="margin-bottom-15">Thống kê {{nameRadioKhac[loaiKhac] | lowercase}}</h3>
        <ul>
          <li class="radio" *ngFor="let item of nameRadioKhac, let i = index">
            <label>
              <input type="radio" name="loaiKhac" [value]="i" [(ngModel)]="loaiKhac" [checked]="loaiKhac === i"> {{item}}
            </label>
          </li>
        </ul>
      </div>
      <canvas baseChart [datasets]="datasetsKhac[loaiKhac]" [labels]="labelsKhac[loaiKhac]" [chartType]="'bar'">
      </canvas>
    </div>
  </div>
</div>
