.page-content {
  padding: 0 30px;
}

.chart {
  background: #ffffff;
}

.chart h3 {
  padding: 10px 20px;
  font-weight: 700;
}

.chart ul {
  text-align: right;
  padding: 0 20px;
}

.select-type {
  padding-bottom: 15px;
  border-bottom: 1px solid #dddddd;
}

.select-type .radio {
  display: inline-block;
  margin-left: 50px;
}

.select-type .radio:first-of-type {
  margin-left: 10px;
}
