.page-content {
  padding: 0 30px;
}

.chart {
  background: #ffffff;
}

.chart.pie-chart .canvas {
  max-height: 400px;
  max-width: 400px;
  margin: auto;
}

.chart .header {
  overflow: hidden;
}

.chart .select-month {
  position: relative;
}

.chart .select-month i {
  position: absolute;
  left: 30px;
  top: 20px;
}

.chart select {
  width: 300px;
  margin: 10px 20px;
  padding-left: 25px;
}

.chart h3 {
  padding: 10px 20px;
  font-weight: 700;
}

.chart ul {
  padding: 0 20px;
}

.select-type {
  padding-bottom: 15px;
  border-bottom: 1px solid #dddddd;
}

.select-type .radio {
  display: inline-block;
  margin-left: 20px;
}

.select-type .radio:first-of-type {
  margin-left: 10px;
}
