.green {
  color: #1abb9c;
}

.red {
  color: #c7254e;
}

.main-container {
  color: #73879c;
  display: table;
  table-layout: fixed;
  width: 100%;
}

.main-container {
  height: 100%;
}

.main-container > div {
  display: table-cell;
  vertical-align: top;
}

.nav-left-side {
  background: #2a3f54;
  width: 230px;
}

.nav-left-side .logo {
  margin: 15px 10px 100px;
  height: 50px;
  text-align: center;
  color: #fcdd44;
  border: 1px solid #dddddd;
}

.nav-left-side .nav-pills > li i {
  margin-right: 10px;
  font-size: 18px;
}

.nav-left-side .nav-pills > li.active {
  border-right: 5px solid #fcdd44;
}

.nav-left-side .nav-pills li a {
  color: #e7e7e7;
}

.nav-left-side .nav-pills > li > a {
  border-radius: 0;
  padding: 20px 15px;
  font-weight: 20px;
}

.nav-left-side .nav-pills > li:focus > a,
.nav-left-side .nav-pills > li:hover > a,
.nav-left-side .nav-pills > li.active > a {
  text-shadow: rgba(0, 0, 0, 0.25) 0 -1px 0;
  background: linear-gradient(#334556, #2C4257), #2a3f54;
  box-shadow: rgba(0, 0, 0, 0.25) 0 1px 0, inset rgba(255, 255, 255, 0.16) 0 1px 0;
}

.nav-pills .child-menu {
  display: none;
}

.nav-pills .child-menu li {
  padding-left: 35px;
}

.nav-pills .child-menu li:before {
  background: #425668;
  bottom: auto;
  content: "";
  height: 8px;
  left: 23px;
  margin-top: 15px;
  position: absolute;
  right: auto;
  width: 8px;
  z-index: 1;
  border-radius: 50%;
}

.nav-pills .child-menu li:after {
  border-left: 1px solid #425668;
  bottom: 0;
  content: "";
  left: 27px;
  position: absolute;
  top: 0;
}

.nav-pills .child-menu li:focus,
.nav-pills .child-menu li:hover,
.nav-pills .child-menu li.active {
  background: rgba(255, 255, 255, 0.06);
}

.nav-pills .child-menu li:hover a {
  background: transparent;
}

.main-container .nav-top {
  height: 50px;
  background: #ededed;
  border-bottom: 1px solid #d9dee4;
}

.bg-green {
  background: #1abb9c;
  border: 1px solid #1abb9c;
  color: #ffffff;
}

.main-container .nav-top .info-number .fa.fa-globe {
  font-size: 18px;
}

.main-container .nav-top .info-number .badge {
  font-size: 10px;
  font-weight: normal;
  line-height: 10px;
  padding: 2px 5px;
  position: absolute;
  right: 2px;
  top: 8px;
}

.main-container .nav-top .nav > li > a:hover,
.main-container .nav-top .nav .open > a,
.main-container .nav-top .nav .open > a:hover {
  background: #d9dee4;
}

.main-container .nav-top .nav.navbar-nav.navbar-right {
  margin-right: 10px;
}

.main-container .nav-top .navbar-nav > li > .dropdown-menu {
  width: 220px;
  padding: 0;
}

.main-container .nav-top .navbar-nav > li > .dropdown-menu.msg-list {
  width: 300px;
  padding: 5px;
}

.main-container .nav-top .navbar-nav > li > .dropdown-menu.msg-list li {
  margin-bottom: 5px;
}

.main-container .nav-top .navbar-nav > li > .dropdown-menu.msg-list li:last-of-type {
  padding: 10px;
  background: #f7f7f7;
  margin-bottom: 0;
}

.main-container .nav-top .navbar-nav .dropdown-menu > li > a {
  padding: 12px 20px;
}

.page-content {
  padding: 0 30px;
}

.statistics {
  width: 100%;
}

.statistics .count {
  font-size: 40px;
  font-weight: 600;
}

.statistics .tile-stats-count:before {
  content: "";
  position: absolute;
  left: 0;
  height: 65px;
  border-left: 2px solid #adb2b5;
  margin-top: 10px;
}

.statistics .tile-stats-count {
  text-align: center;
}

.statistics .tile-stats-count:first-of-type:before {
  border-left: none;
}
