<app-login #loginModal></app-login>
<div *ngIf="isLogin" class="main-container">
  <div class="nav-left-side">
    <!--logo and iconic logo start-->
    <div class="logo">
      <h1>troSV</h1>
    </div>
    <!--logo and iconic logo end-->
    <div class="left-side-inner">
      <!--sidebar nav start-->
      <ul #navigation class="nav nav-pills nav-stacked">
        <li [ngClass]="{'active': isLiActive[i]}" *ngFor="let item of listLi, let i = index" (click)="statusPage = item.statusPage; activeLi($event, i, 'parent'); slideDown(i);">
          <a>
            <i [class]="item.i"></i>
            <span>{{item.span}}</span>
            <span *ngIf="item.li" class="fa fa-chevron-down right"></span>
          </a>
          <ul *ngIf="item.li" class="nav child-menu">
            <li [ngClass]="{'active': isChildLiActive[index]}" *ngFor="let itemLi of item.li, let index = index" (click)="statusPage = itemLi.statusPage; activeLi($event, index, 'child', i)">
              <a>{{itemLi.content}}</a>
            </li>
          </ul>
        </li>
      </ul>
      <!--sidebar nav end-->
    </div>
  </div>
  <div class="right-content">
    <div class="nav-top margin-bottom-30">
      <ul class="nav navbar-nav navbar-right">
        <!-- <li role="presentation" class="dropdown">
          <a href="" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-globe"></i>
            <span class="badge bg-green">6</span>
          </a>
          <ul id="menu1" class="dropdown-menu list-unstyled msg-list" role="menu">
            <li>
              <a>
              Test
              </a>
            </li>
            <li>
              <div class="text-center">
                <a>
                  <strong>See All Alerts</strong>
                  <i class="fa fa-angle-right"></i>
                </a>
              </div>
            </li>
          </ul>
        </li> -->
        <li class="">
          <a href="" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            Chào admin
            <span class="fa fa-angle-down"></span>
          </a>
          <ul class="dropdown-menu dropdown-usermenu pull-right">
            <li><a (click)="logoutModal.show();"><i class="fa fa-sign-out pull-right"></i> Đăng xuất</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div *ngIf="statusPage === 'home'" class="page-content">
      <div class="row statistics margin-bottom-30">
        <div class="col-md-3 col-sm-3 col-xs-6 tile-stats-count">
          <span class="count-top"><i class="fa fa-user"></i> Tổng số user</span>
          <div *ngIf="isTotalUserIncrease" class="count green">{{totalUser}}</div>
          <div *ngIf="!isTotalUserIncrease" class="count red">{{totalUser}}</div>
          <span *ngIf="isTotalUserIncrease" class="count-bottom"><i class="green"><i class="fa fa-sort-asc"></i>{{percentTotalUser}}% </i> so với tháng trước</span>
          <span *ngIf="!isTotalUserIncrease" class="count-bottom"><i class="red"><i class="fa fa-sort-desc"></i>{{percentTotalUser}}% </i> so với tháng trước</span>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6 tile-stats-count">
          <span class="count-top"><i class="fa fa-user"></i> Số user đăng ký mới</span>
          <div *ngIf="isNewUserIncrease" class="count green">{{newUser}}</div>
          <div *ngIf="!isNewUserIncrease" class="count red">{{newUser}}</div>
          <span *ngIf="isNewUserIncrease" class="count-bottom"><i class="green"><i class="fa fa-sort-asc"></i>{{percentNewUser}}% </i> so với tháng trước</span>
          <span *ngIf="!isNewUserIncrease" class="count-bottom"><i class="red"><i class="fa fa-sort-desc"></i>{{percentNewUser}}% </i> so với tháng trước</span>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6 tile-stats-count">
          <span class="count-top"><i class="fa fa-user"></i> Tổng số phòng trọ</span>
          <div *ngIf="isTotalPTIncrease" class="count green">{{totalPT}}</div>
          <div *ngIf="!isTotalPTIncrease" class="count red">{{totalPT}}</div>
          <span *ngIf="isTotalPTIncrease" class="count-bottom"><i class="green"><i class="fa fa-sort-asc"></i>{{percentTotalPT}}% </i> so với tháng trước</span>
          <span *ngIf="!isTotalPTIncrease" class="count-bottom"><i class="red"><i class="fa fa-sort-desc"></i>{{percentTotalPT}}% </i> so với tháng trước</span>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6 tile-stats-count">
          <span class="count-top"><i class="fa fa-user"></i> Số phòng trọ đăng ký mới</span>
          <div *ngIf="isNewPTIncrease" class="count green">{{newPT}}</div>
          <div *ngIf="!isNewPTIncrease" class="count red">{{newPT}}</div>
          <span *ngIf="isNewPTIncrease" class="count-bottom"><i class="green"><i class="fa fa-sort-asc"></i>{{percentNewPT}}% </i> so với tháng trước</span>
          <span *ngIf="!isNewPTIncrease" class="count-bottom"><i class="red"><i class="fa fa-sort-desc"></i>{{percentNewPT}}% </i> so với tháng trước</span>
        </div>
      </div>
      <div *ngIf="datasetsUsers[0] && datasetsNewUsers && datasetsUsers[0].length > 0 && datasetsNewUsers.length > 0" class="row margin-bottom-30">
        <div class="chart col-lg-4 col-md-4">
          <canvas baseChart [datasets]="datasetsUsers[0]" [labels]="labelsUsers[0]" [chartType]="'pie'">
          </canvas>
        </div>
        <div class="chart col-lg-8 col-md-8">
          <canvas baseChart [datasets]="datasetsNewUsers" [labels]="labelsNewUsers" [options]="options" [chartType]="'bar'">
          </canvas>
        </div>
      </div>
      <div *ngIf="datasetsUsers[3] && datasetsUsers[1] && datasetsUsers[2] && datasetsUsers[3].length > 0 && datasetsUsers[1].length > 0 && datasetsUsers[2].length > 0" class="row margin-bottom-30">
        <div class="chart col-lg-4 col-md-4">
          <canvas baseChart [datasets]="datasetsUsers[1]" [labels]="labelsUsers[1]" [chartType]="'doughnut'">
          </canvas>
        </div>
        <div class="chart col-lg-4 col-md-4">
          <canvas baseChart [datasets]="datasetsUsers[2]" [labels]="labelsUsers[2]" [chartType]="'doughnut'">
          </canvas>
        </div>
        <div class="chart col-lg-4 col-md-4">
          <canvas baseChart [datasets]="datasetsUsers[3]" [labels]="labelsUsers[3]" [chartType]="'doughnut'">
          </canvas>
        </div>
      </div>
      <div *ngIf="datasetsPT[0] && datasetsNewPT && datasetsPT[0].length > 0 && datasetsNewPT.length > 0" class="row margin-bottom-30">
        <div class="chart col-lg-8 col-md-8">
          <canvas baseChart [datasets]="datasetsNewPT" [labels]="labelsNewPT" [options]="options" [chartType]="'bar'">
          </canvas>
        </div>
        <div class="chart col-lg-4 col-md-4">
          <canvas baseChart [datasets]="datasetsPT[0]" [labels]="labelsPT[0]" [chartType]="'pie'">
          </canvas>
        </div>
      </div>
      <div *ngIf="datasetsPT[3] && datasetsPT[1] && datasetsPT[2] && datasetsPT[3].length > 0 && datasetsPT[1].length > 0 && datasetsPT[2].length > 0" class="row margin-bottom-30">
        <div class="chart col-lg-4 col-md-4">
          <canvas baseChart [datasets]="datasetsPT[1]" [labels]="labelsPT[1]" [chartType]="'doughnut'">
          </canvas>
        </div>
        <div class="chart col-lg-4 col-md-4">
          <canvas baseChart [datasets]="datasetsPT[2]" [labels]="labelsPT[2]" [chartType]="'doughnut'">
          </canvas>
        </div>
        <div class="chart col-lg-4 col-md-4">
          <canvas baseChart [datasets]="datasetsPT[3]" [labels]="labelsPT[3]" [chartType]="'doughnut'">
          </canvas>
        </div>
      </div>
    </div>
    <app-list-user *ngIf="statusPage === 'user'"></app-list-user>
    <app-list-gd *ngIf="statusPage === 'gd'"></app-list-gd>
    <app-pt-not-checked *ngIf="statusPage === 'pt-not-checked'"></app-pt-not-checked>
    <app-pt-accept *ngIf="statusPage === 'pt-accept'"></app-pt-accept>
    <app-pt-not-accept *ngIf="statusPage === 'pt-not-accept'"></app-pt-not-accept>
    <app-statistic-pt *ngIf="statusPage === 'statistic-pt'"></app-statistic-pt>
    <app-statistic-user *ngIf="statusPage === 'statistic-user'"></app-statistic-user>
  </div>
</div>
<div bsModal #logoutModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="logoutModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h2 class="modal-title">Thông báo</h2>
      </div>
      <div class="modal-body">
        <div class="logout-form">
          <h2>Bạn muốn đăng xuất ?</h2>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn-modal left" (click)="logout(); logoutModal.hide();">Đăng xuất</button>
        <button class="btn-modal right" (click)="logoutModal.hide();">Không</button>
      </div>
    </div>
  </div>
</div>
