.page-content {
  padding: 0 30px;
}

.chart .canvas {
  background: #ffffff;
}

.chart .canvas .error {
  color: #aaaaaa;
  font-size: 25px;
  font-weight: 700;
  padding: 10px;
}

.chart .select-type {
  background: #ffffff;
}

.chart .select-type .header h3,
.chart.pie-chart .select-type .header select {
  margin: 10px;
}

.chart.pie-chart .select-type .header i {
  left: 20px;
}

.custom-table .table-header i {
  left: 10px;
  top: 10px;
}

.custom-table .table-header select {
  margin: 0;
}

.custom-table .table-content.table-gd tbody tr {
  cursor: default;
}

.custom-table .table .pt-hoten,
.custom-table .table .pt-diachi {
  text-align: left;
}
