<div class="page-content">
  <div class="row margin-bottom-30">
    <div class="chart pie-chart col-lg-4 col-md-4">
      <div class="select-type">
        <div class="header">
          <h3 class="left">Thống kê số giao dịch</h3>
          <div class="select-month left">
            <i class="fa fa-calendar"></i>
            <select [ngModel]="selectedMonth[3]" (ngModelChange)="thongkeGDTheoLoaiGDMoiThang($event)" class="form-control">
              <option *ngFor="let item of listMonth" [value]="item">Tháng {{item}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="canvas">
        <p *ngIf="datasetsGDTheoLoaiGDMoiThang[0] === 0 && datasetsGDTheoLoaiGDMoiThang[1] === 0" class="error">Không có giao dịch trong tháng</p>
        <canvas baseChart *ngIf="datasetsGDTheoLoaiGDMoiThang && datasetsGDTheoLoaiGDMoiThang.length > 0 && (datasetsGDTheoLoaiGDMoiThang[0] !== 0 || datasetsGDTheoLoaiGDMoiThang[1] !== 0)" [data]="datasetsGDTheoLoaiGDMoiThang" [labels]="labelsGDTheoLoaiGDMoiThang" [chartType]="'pie'">
        </canvas>
      </div>
    </div>
    <div class="chart col-lg-8 col-md-8">
      <div class="select-type">
        <div class="header">
          <h3 class="left">Thống kê số giao dịch theo từng tháng</h3>
        </div>
      </div>
      <div class="canvas">
        <canvas baseChart *ngIf="datasetsGDTheoLoaiGD[0].data && datasetsGDTheoLoaiGD[0].data.length > 0" [datasets]="datasetsGDTheoLoaiGD" [labels]="labelsGDTheoLoaiGD" [options]="options" [chartType]="'bar'">
        </canvas>
      </div>
    </div>
  </div>
  <div class="row margin-bottom-30">
    <div class="custom-table">
      <div class="table-header">
        <div>
          <h3 class="left">Top 5 tài khoản ngân hàng gửi tiền nhiều nhất</h3>
          <div class="select-month right">
            <i class="fa fa-calendar"></i>
            <select [ngModel]="selectedMonth[0]" (ngModelChange)="thongkeGDGui($event)" class="form-control right">
              <option *ngFor="let item of listMonth" [value]="item">Tháng {{item}}</option>
            </select>
          </div>
        </div>
      </div>
      <div *ngIf="!listGDGui || listGDGui.length === 0">
        <p class="error">Không tìm thấy giao dịch</p>
      </div>
      <div *ngIf="listGDGui.length > 0" class="table-content table-gd">
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th class="pt-hoten" colspan="3">Username</th>
              <th class="pt-hoten" colspan="3">Họ tên</th>
              <th>Lượt giao dịch</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of listGDGui">
              <td>{{item.id}}</td>
              <td class="break-word pt-hoten" colspan="3">{{item.username}}</td>
              <td class="break-word pt-hoten" colspan="3">{{item.hoten}}</td>
              <th class="counter">{{item.counter | number}}</th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row margin-bottom-30">
    <div class="custom-table">
      <div class="table-header">
        <div>
          <h3 class="left">Top 5 tài khoản ngân hàng nhận tiền nhiều nhất</h3>
          <div class="select-month right">
            <i class="fa fa-calendar"></i>
            <select [ngModel]="selectedMonth[1]" (ngModelChange)="thongkeGDNhan($event)" class="form-control right">
              <option *ngFor="let item of listMonth" [value]="item">Tháng {{item}}</option>
            </select>
          </div>
        </div>
      </div>
      <div *ngIf="!listGDNhan || listGDNhan.length === 0">
        <p class="error">Không tìm thấy giao dịch</p>
      </div>
      <div *ngIf="listGDNhan.length > 0" class="table-content table-gd">
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th class="pt-hoten" colspan="3">Username</th>
              <th class="pt-hoten" colspan="3">Họ tên</th>
              <th>Lượt giao dịch</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of listGDNhan">
              <td>{{item.id}}</td>
              <td class="break-word pt-hoten" colspan="3">{{item.username}}</td>
              <td class="break-word pt-hoten" colspan="3">{{item.hoten}}</td>
              <th class="counter">{{item.counter | number}}</th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row margin-bottom-30">
    <div class="custom-table">
      <div class="table-header">
        <div>
          <h3 class="left">Top 5 phòng trọ giao dịch nhiều nhất</h3>
          <div class="select-month right">
            <i class="fa fa-calendar"></i>
            <select [ngModel]="selectedMonth[2]" (ngModelChange)="thongkeGDTheoPT($event)" class="form-control right">
              <option *ngFor="let item of listMonth" [value]="item">Tháng {{item}}</option>
            </select>
          </div>
        </div>
      </div>
      <div *ngIf="!listGDTheoPT || listGDTheoPT.length === 0">
        <p class="error">Không tìm thấy giao dịch</p>
      </div>
      <div *ngIf="listGDTheoPT.length > 0" class="table-content">
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th class="pt-diachi" colspan="6">Địa chỉ</th>
              <th>Lượt giao dịch</th>
            </tr>
          </thead>
          <tbody>
            <tr (click)="showDetailItem(item)" *ngFor="let item of listGDTheoPT">
              <td>{{item.id}}</td>
              <td class="break-word pt-diachi" colspan="6">{{item.diachi}}</td>
              <th class="counter">{{item.counter | number}}</th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<app-detail-popup #detailPopup (popupClose)="popupClose($event)" [info]="selectedPT" [showAcceptBtn]="false" [showDenyBtn]="false" [showDeleteBtn]="false"></app-detail-popup>
