.page-content {
  padding: 0 30px;
}

.chart .header h3 {
  padding: 10px;
}

.chart .select-type {
  background: #ffffff;
}

.chart:first-of-type .select-month select {
  width: 140px;
  margin: 10px;
}

.chart:first-of-type .select-month i {
  left: 20px;
}

.chart:first-of-type .canvas .error {
  background: #ffffff;
  color: #aaaaaa;
  font-size: 24px;
  font-weight: 700;
  padding: 10px;
}

.custom-table .table-header .select-month select {
  margin: 0;
}

.custom-table .table-header .select-month i {
  top: 10px;
  left: 10px;
}

.custom-table .table-content tbody tr {
  cursor: default;
}

.custom-table .table .pt-username {
  text-align: left;
}
