<div class="page-content">
  <div class="row margin-bottom-30">
    <div class="chart col-lg-4 col-md-4">
      <div class="select-type">
        <div class="header">
          <h3 class="left">Thống kê số user</h3>
          <div class="select-month left">
            <i class="fa fa-calendar"></i>
            <select [ngModel]="selectedMonth[3]" (ngModelChange)="thongkeUserKieuLogin($event)" class="form-control">
              <option *ngFor="let item of listMonth" [value]="item">Tháng {{item}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="canvas">
        <p *ngIf="datasetsUserKieuLogin[0] === 0 && datasetsUserKieuLogin[1] === 0 && datasetsUserKieuLogin[2] === 0" class="error">Không có user đăng ký trong tháng</p>
        <canvas *ngIf="datasetsUserKieuLogin && datasetsUserKieuLogin.length > 0 && (datasetsUserKieuLogin[0] !== 0 || datasetsUserKieuLogin[1] !== 0 || datasetsUserKieuLogin[2] !== 0)" baseChart [data]="datasetsUserKieuLogin" [labels]="labelsUserKieuLogin" [options]="optionsPie" [chartType]="'pie'">
        </canvas>
      </div>
    </div>
    <div class="chart col-lg-8 col-md-8">
      <div class="select-type">
        <div class="header">
          <h3 class="left">Thống kê số user tạo mới từng tháng</h3>
        </div>
      </div>
      <div class="canvas">
        <canvas *ngIf="datasetsNewUsers[0].data && datasetsNewUsers[0].data.length > 0" baseChart [datasets]="datasetsNewUsers" [labels]="labelsNewUsers" [options]="options" [chartType]="'bar'">
        </canvas>
      </div>
    </div>
  </div>
  <div class="row margin-bottom-30">
    <div class="custom-table">
      <div class="table-header">
        <div>
          <h3 class="left">Top 5 user bình luận nhiều nhất</h3>
          <div class="select-month right">
            <i class="fa fa-calendar"></i>
            <select [ngModel]="selectedMonth[0]" (ngModelChange)="thongkeUserComment($event)" class="form-control right">
              <option *ngFor="let item of listMonth" [value]="item">Tháng {{item}}</option>
            </select>
          </div>
        </div>
      </div>
      <div *ngIf="!listUserComment || listUserComment.length === 0">
        <p class="error">Không tìm thấy user</p>
      </div>
      <div *ngIf="listUserComment.length > 0" class="table-content">
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th class="pt-username" colspan="3">Username</th>
              <th class="pt-username" colspan="3">Họ tên</th>
              <th>Lượt bình luận</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of listUserComment">
              <td>{{item.id}}</td>
              <td class="break-word pt-username" colspan="3">{{item.username}}</td>
              <td class="break-word pt-username" colspan="3">{{item.hoten}}</td>
              <th class="counter">{{item.counter | number}}</th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row margin-bottom-30">
    <div class="custom-table">
      <div class="table-header">
        <div>
          <h3 class="left">Top 5 user tạo nhiều phòng trọ nhất</h3>
          <div class="select-month right">
            <i class="fa fa-calendar"></i>
            <select [ngModel]="selectedMonth[1]" (ngModelChange)="thongkeUserTaoPT($event)" class="form-control right">
              <option *ngFor="let item of listMonth" [value]="item">Tháng {{item}}</option>
            </select>
          </div>
        </div>
      </div>
      <div *ngIf="!listUserTaoPT || listUserTaoPT.length === 0">
        <p class="error">Không tìm thấy user</p>
      </div>
      <div *ngIf="listUserTaoPT.length > 0" class="table-content">
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th class="pt-username" colspan="3">Username</th>
              <th class="pt-username" colspan="3">Họ tên</th>
              <th>Số phòng tạo</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of listUserTaoPT">
              <td>{{item.id}}</td>
              <td class="break-word pt-username" colspan="3">{{item.username}}</td>
              <td class="break-word pt-username" colspan="3">{{item.hoten}}</td>
              <th class="counter">{{item.counter | number}}</th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row margin-bottom-30">
    <div class="custom-table">
      <div class="table-header">
        <div>
          <h3 class="left">Top 5 user độ tin cậy cao nhất</h3>
          <div class="select-month right">
            <i class="fa fa-calendar"></i>
            <select [ngModel]="selectedMonth[2]" (ngModelChange)="thongkeUserTheoDTC($event)" class="form-control right">
              <option *ngFor="let item of listMonth" [value]="item">Tháng {{item}}</option>
            </select>
          </div>
        </div>
      </div>
      <div *ngIf="!listUserTheoDTC || listUserTheoDTC.length === 0">
        <p class="error">Không tìm thấy user</p>
      </div>
      <div *ngIf="listUserTheoDTC.length > 0" class="table-content">
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th class="pt-username" colspan="3">Username</th>
              <th class="pt-username" colspan="3">Họ tên</th>
              <th>Độ tin cậy</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of listUserTheoDTC">
              <td>{{item.id}}</td>
              <td class="break-word pt-username" colspan="3">{{item.username}}</td>
              <td class="break-word pt-username" colspan="3">{{item.hoten}}</td>
              <th class="counter">{{item.dotincay | number}}</th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
