<div class="page-content">
  <div class="custom-table margin-bottom-30">
    <div class="table-header">
      <h2 class="left">Danh sách user</h2>
      <input type="button" class="btn-modal left" (click)="addUser()" name="submit" value="Thêm user">
      <a class="right" [ngClass]="{'active' : isDelete}" (click)="wantDelete()"><i class="fa fa-trash-o"></i></a>
      <div class="search-bar right">
        <label for="search-input">
          <i class="fa fa-search"></i>
        </label>
        <input type="text" id="search-input" name="search" [ngModel]="searchTerm" (ngModelChange)="searchUser($event)" placeholder="Tìm kiếm user theo username, họ tên,...">
      </div>
    </div>
    <div class="table-content">
      <table class="table">
        <thead>
          <tr>
            <th *ngIf="isDelete" class="index">
              Xóa
            </th>
            <th class="index">#</th>
            <th>Username</th>
            <th colspan="2">Họ tên</th>
            <th>Email</th>
            <th colspan="3">Địa chỉ</th>
            <th>Số điện thoại</th>
            <th>Facebook</th>
            <th>Skype</th>
            <th>Độ tin cậy</th>
          </tr>
        </thead>
        <tbody>
          <tr [ngClass]="{'active': listUserDeleteView[i]}" *ngFor="let item of listUserView, let i = index">
            <td *ngIf="isDelete" class="index">
              <input type="checkbox" name="deleteUser" value="1" [ngModel]="listUserDeleteView[i]" (ngModelChange)="updateCheckAll($event, i, item)">
            </td>
            <th class="index">{{item.id}}</th>
            <td>{{item.username}}</td>
            <td colspan="2">{{item.hoten}}</td>
            <td>{{item.email}}</td>
            <td colspan="3">{{item.diachi}}</td>
            <td>{{item.sodt}}</td>
            <td>{{item.facebook}}</td>
            <td>{{item.skype}}</td>
            <td>{{item.dotincay}}</td>
          </tr>
        </tbody>
      </table>
      <div *ngIf="isDelete" class="check-all left">
        <span>Chọn tất cả</span>
        <input type="checkbox" (click)="checkAll()" [(ngModel)]="checkAllUser">
      </div>
      <input *ngIf="isDelete" type="button" class="btn-modal right" (click)="deleteUser()" name="submit" value="Xóa">
    </div>
  </div>
</div>
