<div class="page-content">
  <div class="custom-table margin-bottom-30">
    <div class="table-header">
      <h2 class="left">Danh sách user</h2>
      <a class="right" (click)="deleteUser()"><i class="fa fa-trash-o"></i></a>
      <div class="search-bar right">
        <label for="search-input">
          <i class="fa fa-search"></i>
        </label>
        <input type="text" id="search-input" name="search" [ngModel]="searchTerm" (ngModelChange)="searchUser($event)" placeholder="Tìm kiếm user theo username, họ tên,...">
      </div>
    </div>
    <div *ngIf="!listUserView || listUserView.length === 0">
      <p class="error">Không tìm thấy user</p>
    </div>
    <div *ngIf="listUserView.length > 0" class="table-content">
      <table class="table">
        <thead>
          <tr>
            <th class="index"></th>
            <th class="index">#</th>
            <th>Username</th>
            <th colspan="2">Họ tên</th>
            <th>Email</th>
            <th colspan="3">Địa chỉ</th>
            <th>Số điện thoại</th>
            <th>Độ tin cậy</th>
          </tr>
        </thead>
        <tbody>
          <tr [ngClass]="{'active': listUserDelete[i]}" *ngFor="let item of listUserView, let i = index">
            <td class="index">
              <input type="checkbox" name="deleteUser" value="1" [ngModel]="listUserDelete[i]" (ngModelChange)="updateCheckAll($event, i, item)">
            </td>
            <th class="index">{{item.id}}</th>
            <td class="break-word">{{item.username}}</td>
            <td colspan="2">{{item.hoten}}</td>
            <td class="break-word">{{item.email}}</td>
            <td colspan="3" class="break-word">{{item.diachi}}</td>
            <td>{{item.sodt}}</td>
            <td>{{item.dotincay}}</td>
          </tr>
        </tbody>
      </table>
      <div class="check-all left">
        <span>Chọn tất cả</span>
        <input type="checkbox" (click)="checkAll()" [(ngModel)]="checkAllUser">
      </div>
    </div>
  </div>
</div>
