<section class="tm-banner">
  <img src="assets/img/banner.jpg" alt="banner" />
  <div class="form-validation">
    <app-form-validation></app-form-validation>
  </div>
</section>
<section class="container tm-home-section-1">
  <div class="section-margin-top">
    <div class="row">
      <div class="tm-section-header">
        <div class="col-lg-3 col-md-3 col-sm-3">
          <hr>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <h2 class="tm-section-title">Phòng trọ hot</h2></div>
        <div class="col-lg-3 col-md-3 col-sm-3">
          <hr>
        </div>
      </div>
    </div>
    <div class="row flexslider deals-block" #flexslider>
      <!-- <a [routerLink]="['/search/result']" (click)="getMoreHotDeals()">Xem thêm...</a> -->
      <ul class="slides deals-list">
        <li *ngFor="let item of hotDeals">
          <a [routerLink]="['/phongtro/detail', item.id]">
            <div class="phongtro-img">
              <img [src]="item.hinhanh" [alt]="item.diachi" [title]="item.diachi" class="img-responsive">
            </div>
            <div class="phongtro-info border-b-dotted">
              <h3>{{item.diachi | uppercase}}</h3>
              <ul>
                <li>
                  <i class="fa fa-building-o"></i>
                  <span>{{item.dientich}}</span>
                </li>
                <li>
                  <i *ngIf="item.gioitinh === 'nam'" class="fa fa-mars"></i>
                  <i *ngIf="item.gioitinh === 'nữ'" class="fa fa-venus"></i>
                  <div *ngIf="item.gioitinh === ''">
                    <i class="fa fa-mars"></i>|
                    <i class="fa fa-venus"></i>
                  </div>
                  <span>{{item.songuoi}}</span>
                </li>
                <li>
                  <i class="fa fa-wifi"></i>
                  <span *ngIf="item.wifi === 0">Không</span>
                  <span *ngIf="item.wifi === 1">Có</span>
                </li>
                <li *ngIf="item.truong && item.truong !== ''">
                  <i class="fa fa-university"></i>
                  <span>{{item.truong}}</span>
                </li>
              </ul>
            </div>
            <h3 class="phongtro-price">{{item.giatien | number}}</h3>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
<section class="tm-white-bg section-padding-bottom">
  <div class="container">
    <div class="row">
      <div class="tm-section-header section-margin-top">
        <div class="col-lg-4 col-md-3 col-sm-3">
          <hr>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <h2 class="tm-section-title">Phòng trọ mới</h2></div>
        <div class="col-lg-4 col-md-3 col-sm-3">
          <hr>
        </div>
      </div>
    </div>
    <app-grid-list [deals]="newDeals"></app-grid-list>
  </div>
</section>
