/**
 *
 * COLOR CODES
 * Yellow #FCDD44
 *
 */


/* Banner */

.tm-banner {
  position: relative;
}

.tm-banner-inner {
  position: absolute;
  top: 110px;
  left: 0;
  right: 0;
  text-align: center;
}

.tm-banner-title,
.tm-banner-subtitle,
.tm-banner-link {
  text-transform: uppercase;
}

.tm-banner-title,
.tm-banner-subtitle {
  color: white;
}

.tm-banner-title {
  font-size: 74px;
  font-weight: 600;
}

.tm-banner-subtitle {
  font-size: 34px;
}

.tm-yellow-text {
  color: #FCDD44;
}

.tm-banner-link {
  background: rgba(252, 221, 68, 0.39) none repeat scroll 0% 0%;
  border: 1px solid #D2B731;
  color: #FFF;
  font-weight: 600;
  font-size: 20px;
  display: inline-block;
  padding: 25px 60px;
  margin-top: 30px;
  transition: all 0.3s ease;
}

.tm-banner-link:hover {
  background: rgba(252, 221, 68, 1);
  color: #000;
}


/* Section 1, index.html */

.tm-home-section-1 {
  position: relative;
  top: -50px;
}

.tm-home-section-1 .tm-home-box-1 img {
  transition: all .5s ease-in-out;
}

.tm-home-section-1 .tm-home-box-1 .tm-city-price-container {
  transition: all .5s ease-in-out;
}

.tm-home-section-1 .tm-home-box-1 .phongtro-img {
  overflow: hidden;
}

.tm-home-section-1 .tm-home-box-1:hover img {
  transform: scale(1.1);
}

.tm-home-section-1 .tm-home-box-1:hover .tm-city-price-container {
  background-color: #2c3e50;
  outline: blue;
}

.tm-home-section-1 .tm-home-box-1:hover .tm-city-price-container span {
  color: white;
}

.tm-home-section-1 .tm-home-box-1:hover .tm-city-price-container .phongtro-price {
  color: #f3bc65;
}

.tm-yellow-gradient-bg {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f5d11d+0,f3d10e+1,efcf1c+2,fccd0d+4,f7ca0d+5,f9cb1e+6,f7cb10+7,f8cc14+8,f0c40c+54,edc50c+55,e9c108+71,ecc008+78,e6be06+91,e9bd06+93,e8bc06+100 */
  background: #f5d11d;
  /* Old browsers */
  /* FF3.6+ */
  /* Chrome,Safari4+ */
  /* Chrome10+,Safari5.1+ */
  /* Opera 11.10+ */
  /* IE10+ */
  background: linear-gradient(to bottom, #f5d11d 0%, #f3d10e 1%, #efcf1c 2%, #fccd0d 4%, #f7ca0d 5%, #f9cb1e 6%, #f7cb10 7%, #f8cc14 8%, #f0c40c 54%, #edc50c 55%, #e9c108 71%, #ecc008 78%, #e6be06 91%, #e9bd06 93%, #e8bc06 100%);
  /* W3C */
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f5d11d', endColorstr='#e8bc06', GradientType=0);
  /* IE6-9 */
}

.green-gradient-bg {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2ec66b+0,2dc970+1,2ac96c+2,2bc76e+4,2bc869+5,2ac871+6,29c86c+7,28c76b+15,2bc76c+16,21bb61+73,1eb860+100 */
  background: #2ec66b;
  /* Old browsers */
  /* FF3.6+ */
  /* Chrome,Safari4+ */
  /* Chrome10+,Safari5.1+ */
  /* Opera 11.10+ */
  /* IE10+ */
  background: linear-gradient(to bottom, #2ec66b 0%, #2dc970 1%, #2ac96c 2%, #2bc76e 4%, #2bc869 5%, #2ac871 6%, #29c86c 7%, #28c76b 15%, #2bc76c 16%, #21bb61 73%, #1eb860 100%);
  /* W3C */
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#2ec66b', endColorstr='#1eb860', GradientType=0);
  /* IE6-9 */
}

.red-gradient-bg {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e97262+0,ef6865+1,ed6c5f+2,f07162+4,f17062+5,eb6f67+6,ec6c5f+7,ec6b5e+18,eb5d4f+56,e95242+100 */
  background: #e97262;
  /* Old browsers */
  /* FF3.6+ */
  /* Chrome,Safari4+ */
  /* Chrome10+,Safari5.1+ */
  /* Opera 11.10+ */
  /* IE10+ */
  background: linear-gradient(to bottom, #e97262 0%, #ef6865 1%, #ed6c5f 2%, #f07162 4%, #f17062 5%, #eb6f67 6%, #ec6c5f 7%, #ec6b5e 18%, #eb5d4f 56%, #e95242 100%);
  /* W3C */
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#e97262', endColorstr='#e95242', GradientType=0);
  /* IE6-9 */
}

.tm-yellow-gradient-bg,
.tm-green-gradient-bg,
.tm-red-gradient-bg {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 88px;
}

.tm-city-price-container {
  padding: 55px 0;
  font-size: 18px;
  border: 1px solid #e3e3e3;
  background-color: white;
  color: black;
  text-transform: uppercase;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.tm-city-price-container span {
  font-weight: 600;
  margin: 0 10px;
}

.tm-city-price-container .phongtro-price {
  color: #c7254e;
}

.tm-yellow-btn {
  width: 130px;
  height: 40px;
  background-color: #F5D338;
  border: medium none;
  color: #5C4905;
  font-size: 12px;
  margin: 24px auto;
  text-transform: uppercase;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.3);
}

.tm-yellow-btn:hover,
.tm-yellow-btn:focus {
  background-color: #F9E58B;
}

.tm-form-inner {
  padding: 35px 30px 5px;
}

.tm-home-box-1 .img-responsive {
  height: 360px;
}

.tm-home-box-1-center {
  margin: 0 auto;
}

.tm-home-box-1-right,
.tm-home-box-2-right {
  margin-left: auto;
}

.input-group-addon {
  border-radius: 0;
}


/*Section 2, index.html */

.section-margin-top {
  margin-top: 100px;
}

hr {
  border-top: 1px solid #111010;
}

.tm-section-header {
  margin-bottom: 70px;
  overflow: hidden;
}

.tm-section-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 300;
}

.tm-home-box-2 {
  background-color: white;
  max-width: 254px;
}

.tm-home-box-2 h3 {
  font-size: 14px;
  padding: 20px 20px 0;
  text-transform: uppercase;
}

.tm-home-box-2-container {
  border-top: 1px solid #DDD;
  overflow: hidden;
}

.tm-home-box-2-link {
  display: inline-block;
  height: 100%;
  color: black;
  transition: all 0.3s ease;
  text-align: center;
}

.tm-home-box-2-link:hover,
.tm-home-box-2-link:focus {
  color: #FCDD44;
}

.border-left {
  border-left: 1px solid #DDD;
}

.border-right {
  border-right: 1px solid #DDD;
}

.tm-home-box-2-icon {
  padding: 20px;
  width: 60px;
  height: 60px;
  font-size: 1.4em;
}

.tm-home-box-2-description {
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  width: 125px;
  padding-bottom: 18px;
}

.tm-home-box-2-description.box-3 {
  width: 175px;
}

.section-padding-bottom {
  padding-bottom: 60px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.margin-bottom-30 {
  margin-bottom: 30px;
}

.gray-text {
  color: #B1B1B1;
}

.margin-bottom-15 {
  margin-bottom: 15px;
}

.margin-bottom-5 {
  margin-bottom: 5px;
}
