<section class="tm-banner">
  <!-- banner -->
  <div class="tm-banner-inner">
    <h1 class="tm-banner-title">Phòng trọ <span class="tm-yellow-text">Tốt nhất</span></h1>
    <p class="tm-banner-subtitle">Cho sinh viên</p>
    <a href="#" class="tm-banner-link">Xem ngay</a>
  </div>
  <img src="assets/img/banner-1.jpg" alt="Image" />
</section>
<!-- gray bg -->
<section class="container tm-home-section-1" id="more">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-6">
      <app-form-validation></app-form-validation>
    </div>
    <div *ngIf="specialDeals[0]" class="col-lg-4 col-md-4 col-sm-6">
      <div class="tm-home-box-1 tm-home-box-1-2 tm-home-box-1-center">
        <a [routerLink]="['/phongtro/detail', specialDeals[0].id]">
          <div class="phongtro-img">
            <img [src]="specialDeals[0].hinhanh" alt="image" class="img-responsive">
          </div>
          <div class="tm-green-gradient-bg tm-city-price-container">
            <span>{{specialDeals[0].diachi}}</span>
            <span class="phongtro-price">{{specialDeals[0].giatien | number}}</span>
          </div>
        </a>
      </div>
    </div>
    <div *ngIf="specialDeals[1]" class="col-lg-4 col-md-4 col-sm-6">
      <div class="tm-home-box-1 tm-home-box-1-2 tm-home-box-1-right">
        <a [routerLink]="['/phongtro/detail', specialDeals[1].id]">
          <div class="phongtro-img">
            <img [src]="specialDeals[1].hinhanh" alt="image" class="img-responsive">
          </div>
          <div class="tm-red-gradient-bg tm-city-price-container">
            <span>{{specialDeals[1].diachi}}</span>
            <span class="phongtro-price">{{specialDeals[1].giatien | number}}</span>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="section-margin-top">
    <div class="row">
      <div class="tm-section-header">
        <div class="col-lg-3 col-md-3 col-sm-3">
          <hr>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <h2 class="tm-section-title">Phòng trọ hot nhất</h2></div>
        <div class="col-lg-3 col-md-3 col-sm-3">
          <hr>
        </div>
      </div>
    </div>
    <div class="row flexslider deals-block" #flexslider>
      <!-- <a [routerLink]="['/search/result']" (click)="getMoreHotDeals()">Xem thêm...</a> -->
      <ul class="slides deals-list">
        <li *ngFor="let item of hotDeals">
          <!-- <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-xxs-12"> -->
          <!-- <div class="tm-home-box-2"> -->
          <a [routerLink]="['/phongtro/detail', item.id]">
            <div class="phongtro-img">
              <img [src]="item.hinhanh" [alt]="item.diachi" [title]="item.diachi" class="img-responsive">
            </div>
            <div class="phongtro-info border-b-dotted">
              <h3>{{item.diachi | uppercase}}</h3>
              <ul>
                <li>
                  <i class="fa fa-building-o"></i>
                  <span>{{item.dientich}}</span>
                </li>
                <li>
                  <i *ngIf="item.gioitinh === 'nam'" class="fa fa-male"></i>
                  <i *ngIf="item.gioitinh === 'nữ'" class="fa fa-female"></i>
                  <span>{{item.songuoi}}</span>
                </li>
              </ul>
              <!-- <p class="tm-info">
                <span>Phòng: </span>
                <span>{{item.gioitinh}}</span>
              </p>
              <p class="tm-info">
                <span>Số lượng: </span>
                <span>{{item.songuoi}}</span>
              </p> -->
            </div>
            <h3 class="phongtro-price">{{item.giatien | number}}</h3>
          </a>
          <!-- <div class="tm-home-box-2-container">
              <a href="#" class="tm-home-box-2-link"><i class="fa fa-heart tm-home-box-2-icon border-right"></i></a>
              <a href="#" class="tm-home-box-2-link"><span class="tm-home-box-2-description">Xem thêm</span></a>
              <a href="#" class="tm-home-box-2-link"><i class="fa fa-edit tm-home-box-2-icon border-left"></i></a>
            </div> -->
          <!-- </div> -->
          <!-- </div> -->
        </li>
      </ul>
    </div>
  </div>
</section>
<!-- white bg -->
<section class="tm-white-bg section-padding-bottom">
  <div class="container">
    <div class="row">
      <div class="tm-section-header section-margin-top">
        <div class="col-lg-4 col-md-3 col-sm-3">
          <hr>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <h2 class="tm-section-title">Phòng trọ mới nhất</h2></div>
        <div class="col-lg-4 col-md-3 col-sm-3">
          <hr>
        </div>
      </div>
    </div>
    <div class="row deals-block new-deals">
      <ul class="deals-list">
        <li *ngFor="let item of newDeals">
          <a [routerLink]="['/phongtro/detail', item.id]">
            <div class="phongtro-img">
              <img [src]="item.hinhanh" alt="image" class="img-responsive">
            </div>
            <div class="phongtro-info border-b-dotted">
              <h3>{{item.diachi | uppercase}}</h3>
              <p class="tm-info">
                <span>Phòng: </span>
                <span>{{item.gioitinh}}</span>
              </p>
              <p class="tm-info">
                <span>Số lượng: </span>
                <span>{{item.songuoi}}</span>
              </p>
            </div>
            <h3 class="phongtro-price">{{item.giatien | number}}</h3>
          </a>
        </li>
        <li class="get-more-btn">
          <a [routerLink]="searchLink" class="" (click)="getMoreNewDeals()">Xem thêm...</a>
        </li>
      </ul>
    </div>
  </div>
</section>
