<div class="tm-home-box-1">
  <p id="ptCarTabs">Tìm kiếm phòng trọ</p>
  <div class="tab-pane fade in active tm-white-bg" id="pt">
    <div class="tm-search-box effect2">
      <form class="pt-search-form" [formGroup]="complexForm" (ngSubmit)="submitForm(complexForm.value)">
        <div class="tm-form-inner">
          <div class="form-group">
            <label>Giá thuê</label>
            <p class="sliderValue">
              <span>{{ sliderValue[0] | number }}</span>
              <span class="right">{{ sliderValue[1] | number }}+</span>
            </p>
            <nouislider [connect]="true" [min]="500000" [max]="5000000" [step]="500000" [formControl]="complexForm.controls['giatien']" [(ngModel)]="sliderValue"></nouislider>
          </div>
          <div class="form-group" [ngClass]="{'has-error':!complexForm.controls['truong'].valid && complexForm.controls['truong'].touched}">
            <label>Chung trường học</label>
            <input class="form-control" type="text" placeholder="Học viện công nghệ bưu chính viễn thông" [formControl]="complexForm.controls['truong']">
          </div>
          <div class="form-group" [ngClass]="{'has-error':!complexForm.controls['nganh'].valid && complexForm.controls['nganh'].touched}">
            <label>Chung ngành học</label>
            <input class="form-control" type="text" placeholder="Công nghệ thông tin" [formControl]="complexForm.controls['nganh']">
          </div>
          <div class="form-group">
            <label>Giới tính</label>
            <div class="radio">
              <label>
                <input type="radio" name="gioitinh" value="nam" [formControl]="complexForm.controls['gioitinh']" [checked]="true"> Nam
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="gioitinh" value="nữ" [formControl]="complexForm.controls['gioitinh']"> Nữ
              </label>
            </div>
          </div>
        </div>
        <div class="text-center">
          <button type="submit" name="submit" [disabled]="!complexForm.valid" class="btn-modal">Tìm kiếm</button>
        </div>
      </form>
    </div>
  </div>
</div>
