.tm-home-box-1 {
    width: 346px;
    height: 100%;
}

#ptCarTabs {
    height: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    text-transform: uppercase;
    background: transparent linear-gradient(to bottom, #F5D11D 0%, #F3D10E 1%, #EFCF1C 2%, #FCCD0D 4%, #F7CA0D 5%, #F9CB1E 6%, #F7CB10 7%, #F8CC14 8%, #F0C40C 54%, #EDC50C 55%, #E9C108 71%, #ECC008 78%, #E6BE06 91%, #E9BD06 93%, #E8BC06 100%) repeat scroll 0% 0%;
    border: none;
    border-radius: 0;
    color: #5C4905;
    font-weight: 600;
    font-size: 20px;
}

.sliderValue span {
    color: #c7254e;
    font-weight: 600;
}

.form-control {
    border-radius: 0;
}

.form-control:focus {
    border-color: #FCDD44;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(252, 221, 68, 0.6);
}

.radio {
    display: inline-block;
    margin-left: 40px;
}

.tm-yellow-gradient-bg {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f5d11d+0,f3d10e+1,efcf1c+2,fccd0d+4,f7ca0d+5,f9cb1e+6,f7cb10+7,f8cc14+8,f0c40c+54,edc50c+55,e9c108+71,ecc008+78,e6be06+91,e9bd06+93,e8bc06+100 */
    background: #f5d11d;
    /* Old browsers */
    /* FF3.6+ */
    /* Chrome,Safari4+ */
    /* Chrome10+,Safari5.1+ */
    /* Opera 11.10+ */
    /* IE10+ */
    background: linear-gradient(to bottom, #f5d11d 0%, #f3d10e 1%, #efcf1c 2%, #fccd0d 4%, #f7ca0d 5%, #f9cb1e 6%, #f7cb10 7%, #f8cc14 8%, #f0c40c 54%, #edc50c 55%, #e9c108 71%, #ecc008 78%, #e6be06 91%, #e9bd06 93%, #e8bc06 100%);
    /* W3C */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f5d11d', endColorstr='#e8bc06', GradientType=0);
    /* IE6-9 */
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 88px;
}

.tm-yellow-btn {
    width: 130px;
    height: 40px;
    background-color: #F5D338;
    border: medium none;
    color: #5C4905;
    font-size: 12px;
    margin: 24px auto;
    text-transform: uppercase;
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.3);
}

.tm-yellow-btn:hover,
.tm-yellow-btn:focus {
    background-color: #F9E58B;
}

.tm-form-inner {
    padding: 35px 30px 5px;
}

.effect2 {
    position: relative;
}

.effect2:before,
.effect2:after {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width: 160px;
    background: #777;
    box-shadow: 0 15px 10px #777;
    -webkit-transform: rotate(-3deg);
    transform: rotate(-3deg);
}

.effect2:after {
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
    right: 10px;
    left: auto;
}

.tm-white-bg {
    background-color: #fff;
}
