.comments-form {
  overflow: hidden;
  padding-bottom: 20px;
  margin-bottom: 15px;
  border-bottom: 1px solid #dddddd;
}

.comments-form textarea {
  height: 100px;
  width: 100%;
  padding: 15px;
}

.comments-form input[type="submit"] {
  width: 100%;
  font-size: 16px;
  padding: 10px 20px;
}

.other-comments {
  padding: 0 20px;
}

.comments-item {
  overflow: hidden;
  margin-bottom: 15px;
  padding-bottom: 5px;
  border-bottom: 1px solid #dddddd;
}

.comments-item:last-of-type {
  margin-bottom: 0;
}

.comments-item .user-name {
  font-weight: 600;
}

.comments-item .noidung {
  white-space: pre-line;
}
