<div class="comments">
  <div class="comments-form">
    <div *ngIf="!userService.user" class="error-text">
      <p>Đăng nhập để bình luận</p>
    </div>
    <form *ngIf="userService.user" [formGroup]="complexForm" (ngSubmit)="submitForm(complexForm.value)">
      <textarea [formControl]="complexForm.controls['comment']" [(ngModel)]="comment" placeholder="Bình luận..."></textarea>
      <div class="send-button left">
        <input [disabled]="complexForm.value.comment === ''" class="btn-modal" type="submit" value="Gửi bình luận">
      </div>
    </form>
  </div>
  <div *ngIf="listUser.length > 0 && listCmt.length > 0" class="other-comments">
    <div *ngFor="let item of listCmt" class="comments-item">
      <p class="header">
        <span class="user-name">{{listUser[item.userID]?.hoten}}</span> --
        <span class="noidung">{{item.noidung}}</span>
      </p>
      <div class="phongtro-like right">
        <p class="ngay right">{{item.ngay | date:"dd/MM/yyyy HH:mm"}}</p>
        <a (click)="likeCmt(item)" [ngClass]="{'active': listCmtUserLike[item.id]}"><i class="fa fa-heart-o"></i>{{item.thich}}</a>
      </div>
    </div>
  </div>
  <div *ngIf="listCmt.length === 0 && userService.user" class="error-text">
    <p>Không có bình luận về phòng trọ này</p>
  </div>
</div>
