<div class="comments">
  <div class="comments-form">
    <form [formGroup]="complexForm" (ngSubmit)="submitForm(complexForm.value)">
      <textarea [formControl]="complexForm.controls['comment']" placeholder="Bình luận..."></textarea>
      <div class="send-button left">
        <input [disabled]="complexForm.value.comment === ''" class="btn-modal" type="submit" value="Gửi bình luận">
      </div>
    </form>
  </div>
  <div *ngIf="listUser.length > 0 && listCmt.length > 0" class="other-comments">
    <div *ngFor="let item of listCmt" class="comments-item">
      <p class="header"><span class="user-name">{{listUser[item.userID]?.hoten}}</span> -- <span class="noidung">{{item.noidung}}</span></p>
      <p class="ngay right">{{item.ngay}}</p>
    </div>
  </div>
</div>
