<div class="page-content">
  <div class="custom-table margin-bottom-30">
    <div class="table-header">
      <h2 class="left">Phòng trọ không duyệt</h2>
      <input type="button" class="btn-modal left" (click)="addUser()" name="submit" value="Thêm phòng trọ">
      <a class="right" (click)="deletePT()"><i class="fa fa-trash-o"></i></a>
      <div class="search-bar right">
        <label for="search-input">
          <i class="fa fa-search"></i>
        </label>
        <input type="text" id="search-input" name="search" [ngModel]="searchTerm" (ngModelChange)="searchPT($event)" placeholder="Tìm kiếm phòng trọ theo username, địa chỉ,...">
      </div>
    </div>
    <div *ngIf="!listPTCheckedView || listPTCheckedView.length === 0">
      <p class="error">Không có phòng trọ nào</p>
    </div>
    <div *ngIf="listPTCheckedView.length > 0 && listUser.length > 0" class="table-content">
      <table class="table">
        <thead>
          <tr>
            <th class="index"></th>
            <th>Username</th>
            <th>Ngày đăng</th>
            <th colspan="3">Địa chỉ</th>
            <th>Giá tiền nguyên phòng</th>
            <th>Giá tiền từng người</th>
            <th>Tiền cọc nguyên phòng</th>
            <th>Tiền cọc từng người</th>
            <th>Số người cần tìm</th>
            <th>Diện tích (m<sup>2</sup>)</th>
          </tr>
        </thead>
        <tbody>
          <tr [ngClass]="{'active': listPTNotAcceptView[i]}" *ngFor="let item of listPTCheckedView, let i = index">
            <td class="index">
              <input type="checkbox" name="acceptPT" [ngModel]="listPTNotAcceptView[i]" (ngModelChange)="updateCheckAll($event, i, item)">
            </td>
            <td>{{listUser[item.userID]?.username}}</td>
            <td>{{item.ngaydang | date:'dd/MM/yyyy'}}</td>
            <td colspan="3">{{item.diachi}}</td>
            <td>{{item.giatien | number}}</td>
            <td>{{item.giatienTheoNguoi | number}}</td>
            <td>{{item.tiencoc | number}}</td>
            <td>{{item.tiencocTheoNguoi | number}}</td>
            <td>{{item.sophong | number}}</td>
            <td>{{item.dientich | number}}</td>
          </tr>
        </tbody>
      </table>
      <div class="check-all left">
        <span>Chọn tất cả</span>
        <input type="checkbox" (click)="checkAll()" [(ngModel)]="checkAllPT">
      </div>
      <input type="button" class="btn-modal right" (click)="acceptPT()" name="submit" value="Duyệt">
    </div>
  </div>
</div>
