.login form {
  margin-bottom: 20px;
}

.options {
  overflow: hidden;
  margin-bottom: 20px;
}

.options .forgot-password {
  color: gray;
  transition: color .3s ease-in-out;
}

.options .forgot-password:hover {
  color: #fcdd44;
}

.options .register {
  width: auto;
  padding: 6px 15px;
}
