<div bsModal [config]="modalOptions" #loginModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h2 *ngIf="loginForm !== 'nganhang'" class="modal-title">Đăng nhập</h2>
        <h2 *ngIf="loginForm === 'nganhang'" class="modal-title">Tài khoản ngân hàng</h2>
      </div>
      <div class="modal-body">
        <div class="login-form">
          <div class="login">
            <form [formGroup]="complexForm" (ngSubmit)="submitForm(complexForm.value)">
              <input type="text" [formControl]="complexForm.controls['username']" name="username" placeholder="Tài khoản">
              <alert [type]="'danger'" *ngIf="complexForm.controls['username'].hasError('required') && complexForm.controls['username'].touched">
                Bạn chưa nhập tài khoản.
              </alert>
              <input type="password" [formControl]="complexForm.controls['password']" name="password" placeholder="Mật khẩu">
              <alert [type]="'danger'" *ngIf="complexForm.controls['password'].hasError('required') && complexForm.controls['password'].touched">
                Bạn chưa nhập mật khẩu.
              </alert>
              <div *ngIf="!isLoggedIn">
                <alert *ngFor="let item of alertLoggedIn" [type]="'danger'" [dismissOnTimeout]="5000" (close)="closeAlert()">
                  {{item?.msg}}
                </alert>
              </div>
              <div class="send-button">
                <input class="btn-modal" type="submit" value="Đăng nhập">
              </div>
            </form>
            <div class="options" *ngIf="loginForm !== 'nganhang'">
              <a class="forgot-password" routerLink="/">Quên mật khẩu?</a>
              <a class="register btn-modal" routerLink="/" (click)="closeModal();registerModal.showModal();">Đăng ký?</a>
            </div>
            <div class="social-icons" *ngIf="loginForm !== 'nganhang'">
              <p>- Đăng nhập với -</p>
              <ul>
                <li>
                  <a routerLink="/">
                    <i class="fa fa-facebook"></i>
                    <span class="text">Facebook</span>
                  </a>
                </li>
                <li>
                  <a routerLink="/">
                    <i class="fa fa-twitter"></i>
                    <span class="text">Twitter</span>
                  </a>
                </li>
                <li>
                  <a routerLink="/">
                    <i class="fa fa-google-plus"></i>
                    <span class="text">Google+</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-register #registerModal *ngIf="loginForm !== 'nganhang'"></app-register>
