.login form {
  margin-bottom: 20px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  background-color: transparent;
  border: none;
  font-size: 15px;
  border-bottom: 1px solid rgba(17, 17, 17, 0.41);
  outline: none;
  color: #000;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border-bottom: 1px solid #fcdd44;
}

.options .register {
  width: auto;
}

.options {
  overflow: hidden;
  margin-bottom: 20px;
}

.options a {
  color: gray;
  transition: color .3s ease-in-out;
}

.options a:hover {
  color: #fcdd44;
}

.options .register {
  float: right;
  border: 1px solid rgba(17, 17, 17, 0.41);
  font-size: 16px;
  padding: 6px 15px;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
}

.social-icons {
  text-align: center;
}

.social-icons p {
  margin-bottom: 20px;
}

.social-icons li span {
  margin-left: 5px;
}

.social-icons li {
  display: inline-block;
  font-size: 16px;
  width: calc((100%/3) - 5px);
}

.social-icons li i {
  color: #fcdd44;
  font-size: 20px;
  transition: all .5s ease-in-out;
}

.social-icons li:hover i {
  color: #c7254e;
  transform: rotatey(360deg);
  -webkit-transform: rotatey(360deg);
  -o-transform: rotatey(360deg);
  -moz-transform: rotatey(360deg);
  -ms-transform: rotatey(360deg);
}

.social-icons li:hover span {
  font-weight: 600;
}
