<div bsModal [config]="modalOptions" #loginModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button *ngIf="loginForm !== 'admin'" type="button" class="close" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
        <button *ngIf="loginForm === 'admin'" type="button" class="btn-modal right" aria-label="Close" (click)="returnHome()">
          Trang chủ <i class="fa fa-home"></i>
        </button>
        <h2 *ngIf="loginForm !== 'nganhang' && !isForgot" class="modal-title">Đăng nhập</h2>
        <h2 *ngIf="loginForm === 'nganhang'" class="modal-title">Tài khoản ngân hàng</h2>
        <h2 *ngIf="loginForm !== 'nganhang' && loginForm !== 'admin' && isForgot" class="modal-title">Quên mật khẩu</h2>
      </div>
      <div class="modal-body">
        <div class="login-form">
          <div class="login">
            <form *ngIf="!isForgot" [formGroup]="complexForm" (ngSubmit)="submitForm(complexForm.value)">
              <input class="input-modal" type="text" [formControl]="complexForm.controls['username']" name="username" placeholder="Tài khoản">
              <alert [type]="'danger'" *ngIf="complexForm.controls['username'].hasError('required') && complexForm.controls['username'].touched">
                Bạn chưa nhập tài khoản.
              </alert>
              <input class="input-modal" type="password" [formControl]="complexForm.controls['password']" name="password" placeholder="Mật khẩu">
              <alert [type]="'danger'" *ngIf="complexForm.controls['password'].hasError('required') && complexForm.controls['password'].touched">
                Bạn chưa nhập mật khẩu.
              </alert>
              <div *ngIf="!isLoggedIn">
                <alert *ngFor="let item of alertLoggedIn" [type]="'danger'" [dismissOnTimeout]="2000" (close)="closeAlert()">
                  {{item?.msg}}
                </alert>
              </div>
              <div class="send-button">
                <input class="btn-modal" type="submit" value="Đăng nhập">
              </div>
            </form>
            <form *ngIf="isForgot" [formGroup]="complexForm" (ngSubmit)="forgotPassword(complexForm.value)">
              <input class="input-modal" type="text" [formControl]="complexForm.controls['usernameForgot']" name="usernameForgot" placeholder="Tài khoản hoặc Email đăng ký">
              <div *ngIf="hasUsernameForgot">
                <alert *ngFor="let item of alertUsernameForgot" [type]="'danger'" [dismissOnTimeout]="5000" (close)="closeAlert('forgot')">
                  {{item?.msg}}
                </alert>
              </div>
              <alert *ngIf="successForgotPasswordMsg && successForgotPasswordMsg !== ''" [type]="'success'">
                {{successForgotPasswordMsg}}
              </alert>
              <div class="send-button">
                <input class="btn-modal forgot-password-submit" type="submit" value="Quên mật khẩu">
              </div>
            </form>
            <div class="options" *ngIf="loginForm !== 'nganhang' && loginForm !== 'admin' && !isForgot">
              <a class="forgot-password" (click)="isForgot = true">Quên mật khẩu?</a>
              <a class="register btn-modal right" (click)="closeModal(); registerModal.showModal();">Đăng ký</a>
            </div>
            <div class="social-icons" *ngIf="loginForm !== 'nganhang' && loginForm !== 'admin' && !isForgot">
              <p>- Đăng nhập với -</p>
              <ul>
                <li>
                  <a (click)="socialLogin('facebook')">
                    <i class="fa fa-facebook"></i>
                    <span class="text">Facebook</span>
                  </a>
                </li>
                <li>
                  <a (click)="socialLogin('google')">
                    <i class="fa fa-google-plus"></i>
                    <span class="text">Google+</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-register *ngIf="loginForm !== 'nganhang' && loginForm !== 'admin'" #registerModal></app-register>
