<sebm-google-map *ngIf="phongtro" [latitude]="lat" [longitude]="lng" [zoom]="zoom" [scrollwheel]="false">
  <sebm-google-map-marker [latitude]="lat" [longitude]="lng">
    <sebm-google-map-info-window [disableAutoPan]="false">
      <strong>{{phongtro.diachi}}</strong>
    </sebm-google-map-info-window>
  </sebm-google-map-marker>
</sebm-google-map>
<div *ngIf="phongtro" class="phongtro-detail container">
  <div class="row">
    <div class="col-lg-9 col-md-9">
      <div class="phongtro-title">
        <h1>{{phongtro.diachi}}</h1>
        <p class="right">{{phongtro.ngaydang | date:"dd/MM/yyyy HH:mm"}}</p>
      </div>
      <div class="phongtro-header">
        <div class="phongtro-price left">
          <strong>{{phongtro.giatien | number}}</strong>
        </div>
        <div class="phongtro-social right">
          <span>Share: </span>
          <a [routerLink]="['/']"><i class="fa fa-facebook"></i></a>
          <a [routerLink]="['/']"><i class="fa fa-instagram"></i></a>
          <a [routerLink]="['/']"><i class="fa fa-google-plus"></i></a>
        </div>
      </div>
      <div class="phongtro-img">
        <img [src]="phongtro.hinhanh" class="img-responsive">
      </div>
      <div class="phongtro-info">
        <accordion [closeOthers]="false">
          <accordion-group *ngIf="user" heading="LIÊN HỆ" class="user-info">
            <div class="row user-name">
              <strong>{{user.hoten | uppercase}}</strong>
            </div>
            <ul class="row user-detail">
              <li>
                <div class="border-b-dotted">
                  <i class="fa fa-mobile"></i>
                  <p>ĐTDĐ</p>
                </div>
                <div class="user-value">
                  <strong>{{user.sodt}}</strong>
                </div>
              </li>
              <li>
                <div class="border-b-dotted">
                  <i class="fa fa-envelope-o"></i>
                  <p>Email</p>
                </div>
                <div class="user-value">
                  <strong>{{user.email}}</strong>
                </div>
              </li>
              <li>
                <div class="border-b-dotted">
                  <i class="fa fa-facebook"></i>
                  <p>Facebook</p>
                </div>
                <div class="user-value">
                  <strong>{{user.facebook}}</strong>
                </div>
              </li>
              <li>
                <div class="border-b-dotted">
                  <i class="fa fa-skype"></i>
                  <p>Skype</p>
                </div>
                <div class="user-value">
                  <strong>{{user.skype}}</strong>
                </div>
              </li>
            </ul>
          </accordion-group>
          <accordion-group *ngIf="phongtro.tiencoc && phongtro.tiencoc !== 0" heading="ĐẶT CỌC">
            <div>{{phongtro.tiencoc}}</div>
          </accordion-group>
          <accordion-group class="extra-info" heading="THÔNG TIN" [isOpen]="true">
            <ul class="row">
              <li>
                <div class="border-b-dotted">
                  <i class="fa fa-building-o"></i>
                  <p>Diện tích (m<sup>2</sup>)</p>
                </div>
                <div class="phongtro-value">
                  <strong>{{phongtro.dientich | number}}</strong>
                </div>
              </li>
              <li>
                <div class="border-b-dotted">
                  <i *ngIf="phongtro.gioitinh === 'nam'" class="fa fa-male"></i>
                  <i *ngIf="phongtro.gioitinh === 'nữ'" class="fa fa-female"></i>
                  <p>Số lượng</p>
                </div>
                <div class="phongtro-value">
                  <strong>{{phongtro.songuoi}}</strong>
                </div>
              </li>
              <li *ngIf="phongtro.truong && phongtro.truong !== ''">
                <div class="border-b-dotted">
                  <i class="fa fa-university"></i>
                  <p>Gần trường</p>
                </div>
                <div class="phongtro-value">
                  <strong>{{phongtro.truong | uppercase}}</strong>
                </div>
              </li>
              <li *ngIf="phongtro.nganh && phongtro.nganh !== ''">
                <div class="border-b-dotted">
                  <i class="fa fa-graduation-cap"></i>
                  <p>Cùng ngành</p>
                </div>
                <div class="phongtro-value">
                  <strong>{{phongtro.nganh | uppercase}}</strong>
                </div>
              </li>
              <li *ngIf="phongtro.khoa && phongtro.khoa !== ''">
                <div class="border-b-dotted">
                  <i class="fa fa-clock-o"></i>
                  <p>Cùng khoa</p>
                </div>
                <div class="phongtro-value">
                  <strong>{{phongtro.khoa | uppercase}}</strong>
                </div>
              </li>
              <li>
                <div class="border-b-dotted">
                  <i class="fa fa-wifi"></i>
                  <p>Wifi</p>
                </div>
                <div class="phongtro-value">
                  <strong *ngIf="phongtro.wifi === 0">Không</strong>
                  <strong *ngIf="phongtro.wifi === 1">Có</strong>
                </div>
              </li>
              <li>
                <div class="border-b-dotted">
                  <i class="fa fa-key"></i>
                  <p>Ở với chủ</p>
                </div>
                <div class="phongtro-value">
                  <strong *ngIf="phongtro.chu === 0">Không</strong>
                  <strong *ngIf="phongtro.chu === 1">Có</strong>
                </div>
              </li>
              <li *ngIf="phongtro.ghichu && phongtro.ghichu !== ''">
                <div class="border-b-dotted">
                  <i class="fa fa-sticky-note"></i>
                  <p>Ghi chú</p>
                </div>
                <div class="phongtro-value">
                  <strong>{{phongtro.ghichu}}</strong>
                </div>
              </li>
            </ul>
          </accordion-group>
          <accordion-group class="comments" heading="BÌNH LUẬN">
            <app-comments></app-comments>
          </accordion-group>
        </accordion>
      </div>
    </div>
    <div class="col-lg-3 col-md-3">
      <app-aside></app-aside>
    </div>
  </div>
</div>
