sebm-google-map {
  height: 300px;
}

.phongtro-detail [class*="phongtro-"] {
  margin: 20px 0;
}

.phongtro-detail .phongtro-social i {
  color: #fcdd44;
}

.phongtro-detail .phongtro-social i:focus,
.phongtro-detail .phongtro-social i:hover {
  color: #c7254e;
}

.phongtro-title {
  overflow: hidden;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.phongtro-title h1 {
  font-weight: 600;
}

.phongtro-title p {
  color: #838383;
  opacity: .7;
  margin: 10px 5px;
}

.phongtro-header {
  overflow: hidden;
}

.phongtro-header div {
  margin: 0;
}

.phongtro-price strong {
  border: 1px solid #d6d6d6;
  background: #ffffff;
  font-size: 40px;
  color: #c7254e;
  padding: 20px;
}

.phongtro-social a {
  display: inline-block;
  font-size: 20px;
  margin: 0 15px;
}

.phongtro-img .img-responsive {
  height: 450px;
}

.phongtro-info li {
  overflow-wrap: break-word;
  word-wrap: break-word;
  display: inline-block;
  text-align: center;
  font-size: 16px;
  vertical-align: top;
  width: 145px;
  padding: 10px;
  margin: 10px;
  border: 1px solid #dddddd;
}

.phongtro-info .border-b-dotted {
  padding-bottom: 10px;
}

.phongtro-info i {
  color: #c7254e;
  font-size: 25px;
}

.user-info .user-name {
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 10px;
}

.user-info .user-name strong {
  font-size: 30px;
}

.user-info .user-detail {
  padding-top: 10px;
}

.user-info .user-detail li {
  width: 188px;
}

.user-info .user-detail .user-value {
  padding-top: 10px;
}

.phongtro-info .extra-info .phongtro-value {
  padding-top: 10px;
  margin: 0;
}
