<sebm-google-map *ngIf="phongtro" [latitude]="lat" [longitude]="lng" [zoom]="zoom" [scrollwheel]="false">
  <sebm-google-map-marker [latitude]="lat" [longitude]="lng">
    <sebm-google-map-info-window [disableAutoPan]="false">
      <strong>{{phongtro.diachi}}</strong>
    </sebm-google-map-info-window>
  </sebm-google-map-marker>
</sebm-google-map>
<div *ngIf="phongtro" class="phongtro-detail container">
  <div class="row">
    <div class="col-lg-9 col-md-9 main-content">
      <div class="phongtro-title margin-bottom">
        <div class="row margin-bottom">
          <div class="col-lg-9 col-md-9">
            <h1>{{phongtro.diachi}}</h1>
          </div>
          <div class="col-lg-3 col-md-3 btn-edit-pt" *ngIf="userService.user && isUserPT">
            <button class="btn-modal" (click)="showConfirmModal();">Xóa
            </button>
            <button class="btn-modal" (click)="editPT();">Chỉnh sửa</button>
          </div>
        </div>
        <div class="social-like">
          <div class="phongtro-social left">
            <span>Chia sẻ</span>
            <a (click)="socialShare('facebook')"><i class="fa fa-facebook"></i></a>
            <a (click)="socialShare('google')"><i class="fa fa-google-plus"></i></a>
          </div>
          <div class="phongtro-like right">
            <p class="ngay right">{{phongtro.ngaydang | date:"dd/MM/yyyy HH:mm"}}</p>
            <a (click)="likePT()" [ngClass]="{'active': userThichPT}"><i class="fa fa-heart-o"></i>{{phongtro.thich}}</a>
          </div>
        </div>
      </div>
      <div *ngIf="phongtro.loaiPhong == 0 || phongtro.loaiPhong == 2"  class="phongtro-header margin-bottom giatien">
        <div class="phongtro-price left">
          <strong>{{phongtro.giatien | number}}</strong>
        </div>
        <div *ngIf="phongtro.tiencoc > 0 && phongtro.songuoi > 0" class="bounce">
          <i class="fa fa-hand-o-right fa-3x"></i>
        </div>
        <a *ngIf="phongtro.tiencoc > 0 && phongtro.songuoi > 0" class="btn-modal right" (click)="loginModal.showModal('nganhang')">Đặt cọc nguyên phòng</a>
      </div>
      <div *ngIf="phongtro.loaiPhong == 1 || phongtro.loaiPhong == 2"  class="phongtro-header margin-bottom">
        <div class="phongtro-price left">
          <strong>{{phongtro.giatienTheoNguoi | number}}</strong>
        </div>
        <div *ngIf="phongtro.tiencocTheoNguoi > 0 && phongtro.songuoi > 0" class="bounce">
          <i class="fa fa-hand-o-right fa-3x"></i>
        </div>
        <a *ngIf="phongtro.tiencocTheoNguoi > 0 && phongtro.songuoi > 0" class="btn-modal right" (click)="loginModal.showModal('nganhang')">Đặt cọc chỗ ngay</a>
      </div>
      <div *ngIf="phongtro.hinhanh && phongtro.hinhanh !== ''" class="phongtro-img margin-bottom">
        <img [src]="phongtro?.hinhanh" [alt]="phongtro.diachi" class="img-responsive">
      </div>
      <div class="phongtro-info">
        <accordion [closeOthers]="false">
          <accordion-group class="extra-info" heading="THÔNG TIN" [isOpen]="true">
            <ul class="row">
              <li>
                <div class="border-b-dotted">
                  <i class="fa fa-building-o"></i>
                  <p>Diện tích (m<sup>2</sup>)</p>
                </div>
                <div class="phongtro-value">
                  <strong>{{phongtro.dientich | number}}</strong>
                </div>
              </li>
              <li>
                <div class="border-b-dotted">
                  <i *ngIf="phongtro.gioitinh === 'nam'" class="fa fa-mars"></i>
                  <i *ngIf="phongtro.gioitinh === 'nữ'" class="fa fa-venus"></i>
                  <div *ngIf="phongtro.gioitinh === ''">
                    <i class="fa fa-mars"></i>|
                    <i class="fa fa-venus"></i>
                  </div>
                  <p>Số lượng</p>
                </div>
                <div class="phongtro-value">
                  <strong>{{phongtro.songuoi}}</strong>
                </div>
              </li>
              <li *ngIf="phongtro.truong && phongtro.truong !== ''">
                <div class="border-b-dotted">
                  <i class="fa fa-university"></i>
                  <p>Cùng trường</p>
                </div>
                <div class="phongtro-value">
                  <strong>{{phongtro.truong | uppercase}}</strong>
                </div>
              </li>
              <li *ngIf="phongtro.nganh && phongtro.nganh !== ''">
                <div class="border-b-dotted">
                  <i class="fa fa-graduation-cap"></i>
                  <p>Cùng ngành</p>
                </div>
                <div class="phongtro-value">
                  <strong>{{phongtro.nganh | uppercase}}</strong>
                </div>
              </li>
              <li *ngIf="phongtro.khoa && phongtro.khoa !== ''">
                <div class="border-b-dotted">
                  <i class="fa fa-clock-o"></i>
                  <p>Cùng khóa</p>
                </div>
                <div class="phongtro-value">
                  <strong>{{phongtro.khoa | uppercase}}</strong>
                </div>
              </li>
              <li>
                <div class="border-b-dotted">
                  <i class="fa fa-wifi"></i>
                  <p>Wifi</p>
                </div>
                <div class="phongtro-value">
                  <strong *ngIf="phongtro.wifi === 0">Không</strong>
                  <strong *ngIf="phongtro.wifi === 1">Có</strong>
                </div>
              </li>
              <li>
                <div class="border-b-dotted">
                  <i class="fa fa-key"></i>
                  <p>Ở với chủ</p>
                </div>
                <div class="phongtro-value">
                  <strong *ngIf="phongtro.chu === 0">Không</strong>
                  <strong *ngIf="phongtro.chu === 1">Có</strong>
                </div>
              </li>
              <li class="ghichu" *ngIf="phongtro.ghichu && phongtro.ghichu !== ''">
                <div class="border-b-dotted">
                  <i class="fa fa-sticky-note"></i>
                  <p>Ghi chú</p>
                </div>
                <div class="phongtro-value">
                  <strong>{{phongtro.ghichu}}</strong>
                </div>
              </li>
            </ul>
          </accordion-group>
          <accordion-group *ngIf="user && phongtro.songuoi > 0" heading="LIÊN HỆ" class="user-info" [isOpen]="true">
            <div class="row user-name">
              <strong>{{user.hoten | uppercase}}</strong>
              <div class="user-popular">
                <i class="fa fa-thumbs-o-up"></i>
                <span>{{user.dotincay}}</span>
              </div>
            </div>
            <ul class="row user-detail">
              <li>
                <div class="border-b-dotted">
                  <i class="fa fa-mobile"></i>
                  <p>ĐTDĐ</p>
                </div>
                <div class="user-value">
                  <strong>{{user.sodt}}</strong>
                </div>
              </li>
              <li>
                <div class="border-b-dotted">
                  <i class="fa fa-envelope-o"></i>
                  <p>Email</p>
                </div>
                <div class="user-value">
                  <strong>{{user.email}}</strong>
                </div>
              </li>
              <li>
                <div class="border-b-dotted">
                  <i class="fa fa-facebook"></i>
                  <p>Facebook</p>
                </div>
                <div class="user-value">
                  <strong>{{user.facebook}}</strong>
                </div>
              </li>
              <li>
                <div class="border-b-dotted">
                  <i class="fa fa-skype"></i>
                  <p>Skype</p>
                </div>
                <div class="user-value">
                  <strong>{{user.skype}}</strong>
                </div>
              </li>
            </ul>
          </accordion-group>
          <accordion-group class="comments" heading="BÌNH LUẬN" [isOpen]="true">
            <app-comments #commentsComponent></app-comments>
          </accordion-group>
        </accordion>
      </div>
    </div>
    <div class="col-lg-3 col-md-3">
      <app-aside #asideComponent></app-aside>
    </div>
  </div>
</div>
<app-login #loginModal></app-login>
<div bsModal #confirmModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="confirmModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h2 class="modal-title">Xóa phòng trọ</h2>
      </div>
      <div class="modal-body" *ngIf="phongtro">
        <alert *ngIf="xoaPTSuccess" [type]="'success'">
          Xóa phòng trọ thành công !
        </alert>
        <alert *ngIf="xoaPTFail" [type]="'danger'">
          Xóa phòng trọ thất bại ! Xin hãy thử lại sau
        </alert>
        <div class="confirm-form">
          <p class="header">Bạn thật sự muốn xóa phòng trọ này ???</p>
          <div class="content">
            <p><span>Giá tiền:</span>{{phongtro.giatien | number}}</p>
            <p><span>Địa chỉ:</span>{{phongtro.diachi}}</p>
            <p><span>Diện tích (m<sup>2</sup>):</span>{{phongtro.dientich}}</p>
            <p><span>Số người cần tìm:</span>{{phongtro.songuoi}}</p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn-modal left" (click)="xoaPT();">Xóa phòng trọ này</button>
        <button class="btn-modal right" (click)="confirmModal.hide();">Không</button>
      </div>
    </div>
  </div>
</div>
