sebm-google-map {
  height: 400px;
}

.margin-bottom {
  margin-bottom: 15px;
}

.phongtro-detail > .row {
  margin-bottom: 15px;
  margin-top: 15px;
}

.social-like {
  overflow: hidden;
  margin-bottom: 5px;
}

.social-like .phongtro-social .fa-facebook {
  color: #365899;
}

.social-like .phongtro-social .fa-google-plus {
  color: #c7254e;
}

.social-like .phongtro-social i:focus,
.social-like .phongtro-social i:hover {
  font-weight: bolder;
}

.phongtro-title {
  overflow: hidden;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.phongtro-title h1 {
  font-weight: 600;
}

.phongtro-title .btn-edit-pt {
  margin-top: 10px;
}

.phongtro-title .btn-modal {
  float: right;
  width: auto;
  padding: 5px 10px;
  font-size: 15px;
}

.phongtro-title .btn-modal:last-of-type {
  margin-right: 10px;
}

.phongtro-header {
  overflow: hidden;
  position: relative;
}

.phongtro-header .btn-modal {
  width: auto;
  padding: 10px;
  margin: 20px 0;
  font-size: 20px;
  font-weight: 700;
}

.phongtro-header .bounce {
  position: absolute;
  right: 225px;
  bottom: 25px;
  margin: 0 auto;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  -moz-animation: bounce 2s infinite;
  -o-animation: bounce 2s infinite;
  transition: color .2s ease-in-out, border .2s ease-in-out;
  -webkit-transition: color .2s ease-in-out, border .2s ease-in-out;
  -moz-transition: color .2s ease-in-out, border .2s ease-in-out;
  -o-transition: color .2s ease-in-out, border .2s ease-in-out;
}

.phongtro-header.giatien .bounce {
  right: 275px;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(30px);
  }
  60% {
    transform: translateX(15px);
  }
}

.phongtro-header .bounce i {
  display: block;
  color: #c7254e;
}

.phongtro-header .phongtro-price {
  margin: 15px 0;
}

.phongtro-price strong {
  border: 1px solid #d6d6d6;
  background: #ffffff;
  font-size: 40px;
  color: #c7254e;
  padding: 20px;
}

.phongtro-social a {
  display: inline-block;
  font-size: 20px;
  margin: 0 15px;
}

.phongtro-img .img-responsive {
  height: 450px;
}

.phongtro-info li {
  overflow-wrap: break-word;
  word-wrap: break-word;
  display: inline-block;
  text-align: center;
  font-size: 16px;
  vertical-align: top;
  width: 145px;
  padding: 10px;
  margin: 10px;
  border: 1px solid #dddddd;
}

.phongtro-info .ghichu {
  width: 315px;
}

.phongtro-info .border-b-dotted {
  padding-bottom: 10px;
}

.phongtro-info i {
  color: #c7254e;
  font-size: 25px;
}

.user-info .user-name {
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 10px;
}

.user-info .user-name strong {
  font-size: 25px;
  margin-right: 10px;
}

.user-info .user-name .user-popular {
  display: inline-block;
  padding: 0 5px;
  border: 1px solid #dddddd;
}

.user-info .user-name .user-popular i {
  font-size: initial;
  color: #c7254e;
}

.user-info .user-detail {
  padding-top: 10px;
}

.user-info .user-detail li {
  width: 188px;
}

.user-info .user-detail .user-value {
  padding-top: 10px;
}

.phongtro-info .extra-info .phongtro-value {
  padding-top: 10px;
  margin: 0;
}

.confirm-form p.header {
  text-align: center;
  color: #c7254e;
  font-size: 25px;
  margin-bottom: 10px;
}

.confirm-form .content {
  padding: 0 20px;
}

.confirm-form .content p {
  margin-bottom: 10px;
  font-size: 16px;
}

.confirm-form .content p:last-of-type {
  margin-bottom: 0;
}

.confirm-form .content p span {
  color: #aaaaaa;
  margin-right: 5px;
}

.modal-footer .btn-modal {
  width: 200px;
}
