<div bsModal #confirmPopup="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="closePopup(false)">
          <span aria-hidden="true">&times;</span>
        </button>
        <h2 *ngIf="isDelete && !isUser" class="modal-title">Xác nhận xóa phòng trọ</h2>
        <h2 *ngIf="!isDelete && !isUser" class="modal-title">Xác nhận không duyệt phòng trọ</h2>
        <h2 *ngIf="isUser" class="modal-title">Xác nhận xóa user</h2>
      </div>
      <div *ngIf="info" class="modal-body">
        <div *ngIf="isError">
          <alert *ngFor="let item of errorMsg" [type]="'danger'" [dismissOnTimeout]="5000" (close)="closeAlert()">
            {{item?.msg}}
          </alert>
        </div>
        <div class="row">
          <div [ngClass]="{'col-lg-6 col-md-6 margin-bottom-15': info.length > 1}" *ngFor="let item of info">
            <p *ngIf="!isUser">Phòng trọ <span>#{{item.id}}</span></p>
            <p *ngIf="isUser">User <span>{{item.username}}</span></p>
            <textarea *ngIf="!isUser" [(ngModel)]="reason[item.id]" rows="3" placeholder="Lý do xóa / không duyệt phòng trọ..."></textarea>
            <textarea *ngIf="isUser" [(ngModel)]="reason[item.id]" rows="3" placeholder="Lý do xóa user..."></textarea>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <input *ngIf="isDelete && !isUser" type="button" class="btn-modal right" (click)="deletePT()" name="submit" value="Xác nhận">
        <input *ngIf="!isDelete && !isUser" type="button" class="btn-modal right" (click)="denyPT()" name="submit" value="Xác nhận">
        <input *ngIf="isUser" type="button" class="btn-modal right" (click)="deleteUser()" name="submit" value="Xác nhận">
      </div>
    </div>
  </div>
</div>
