<div bsModal #confirmPopup="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="closePopup()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h2 *ngIf="isDelete" class="modal-title">Lý do xóa phòng trọ</h2>
        <h2 *ngIf="isDeny" class="modal-title">Lý do không duyệt phòng trọ</h2>
      </div>
      <div *ngIf="info" class="modal-body">
        <div *ngFor="let item of info">
          <p>Phòng trọ #{{item.id}}</p>
          <label [attr.for]="item.id">
            Lý do:
            <input type="text" name="reason" [id]="item.id" [(ngModel)]="reason[item.id]">
          </label>
        </div>
      </div>
      <div class="modal-footer">
        <input *ngIf="isDelete" type="button" class="btn-modal left" (click)="deletePT()" name="submit" value="Xác nhận">
        <input *ngIf="isDeny" type="button" class="btn-modal left" (click)="denyPT()" name="submit" value="Xác nhận">
      </div>
    </div>
  </div>
</div>
