.page-content {
  padding: 0 20px;
}

.error {
  color: #aaaaaa;
  font-size: 25px;
  font-weight: 700;
  padding: 0 5px;
}

.custom-table .table-header .btn-modal {
  width: 15%;
}

.custom-table .btn-modal.deny-btn {
  width: 15%;
  margin-left: 30px;
}
