<div class="page-content">
  <div class="custom-table">
    <div class="table-header">
      <h2 class="left">Phòng trọ chờ duyệt</h2>
      <a class="right" [attr.disabled]="listCheckbox.length === 0 || listPTNotCheckedView.length === 0" (click)="deletePT()"><i class="fa fa-trash-o"></i></a>
      <div class="search-bar right">
        <label for="search-input">
          <i class="fa fa-search"></i>
        </label>
        <input type="text" id="search-input" name="search" [ngModel]="searchTerm" (ngModelChange)="searchPT($event)" placeholder="Tìm kiếm phòng trọ theo username, địa chỉ,...">
      </div>
    </div>
    <div *ngIf="!listPTNotCheckedView || listPTNotCheckedView.length === 0">
      <p class="error">Không tìm thấy phòng trọ</p>
    </div>
    <div *ngIf="listPTNotCheckedView.length > 0 && listUser.length > 0" class="table-content">
      <table class="table">
        <thead>
          <tr>
            <th class="index"></th>
            <th class="index">#</th>
            <th>Người tạo</th>
            <th>Ngày đăng</th>
            <th colspan="3">Địa chỉ</th>
            <th>Giá tiền</th>
            <th>Số phòng trống</th>
            <th>Diện tích (m<sup>2</sup>)</th>
          </tr>
        </thead>
        <tbody>
          <tr (click)="showDetailItem(item)" [ngClass]="{'active': listCheckboxView[item.id]}" *ngFor="let item of listPTNotCheckedView">
            <td class="index" (click)="$event.stopPropagation();">
              <input type="checkbox" name="acceptPT" value="1" [ngModel]="listCheckboxView[item.id]" (ngModelChange)="updateCheckAll($event, item)">
            </td>
            <th class="index">{{item.id}}</th>
            <td class="break-word">{{listUser[item.userID]?.username}}</td>
            <td>{{item.ngaydang}}</td>
            <td colspan="3">{{item.diachi}}</td>
            <td>
              <p *ngIf="item.giatien > 0">{{item.giatien | number}}</p>
              <p *ngIf="item.giatienTheoNguoi > 0">{{item.giatienTheoNguoi | number}} / người</p>
            </td>
            <td>{{item.sophong}}</td>
            <td>{{item.dientich}}</td>
          </tr>
        </tbody>
      </table>
      <div class="check-all left">
        <span>Chọn tất cả</span>
        <input type="checkbox" (click)="checkAll()" [(ngModel)]="checkAllPT">
      </div>
      <input type="button" class="btn-modal right delete-btn" [disabled]="listCheckbox.length === 0" (click)="acceptPT()" name="submit" value="Duyệt">
      <input type="button" class="btn-modal right deny-btn" [disabled]="listCheckbox.length === 0" (click)="denyPT()" name="submit" value="Không duyệt">
    </div>
  </div>
</div>
<app-detail-popup #detailPopup (popupClose)="popupClose($event)" [info]="selectedPT" [showAcceptBtn]="true" [showDenyBtn]="true" [showDeleteBtn]="true"></app-detail-popup>
<app-confirm-popup #confirmPopup (popupClose)="popupClose($event)" [info]="listCheckbox" [isDelete]="isDelete"></app-confirm-popup>
