<div class="page-content">
  <div class="custom-table">
    <div class="table-header">
      <h2 class="left">Phòng trọ chờ phê duyệt</h2>
      <input type="button" class="btn-modal left" (click)="addUser()" name="submit" value="Thêm user">
      <a class="right" [ngClass]="{'active' : isDelete}" (click)="wantDelete()"><i class="fa fa-trash-o"></i></a>
      <div class="search-bar right">
        <label for="search-input">
          <i class="fa fa-search"></i>
        </label>
        <input type="text" id="search-input" name="search" [ngModel]="searchTerm" (ngModelChange)="searchPT($event)" placeholder="Tìm kiếm phòng trọ theo username, địa chỉ,...">
      </div>
    </div>
    <div *ngIf="!listPTNotChecked || listPTNotChecked.length === 0">
      <p class="error">Không có phòng trọ nào</p>
    </div>
    <div *ngIf="listPTNotChecked.length > 0" class="table-content">
      <table class="table">
        <thead>
          <tr>
            <th *ngIf="isDelete" class="index">Xóa</th>
            <th *ngIf="!isDelete" class="index">Chấp thuận</th>
            <!-- <th>Username</th> -->
            <th>Ngày đăng</th>
            <th colspan="3" class="break-word">Địa chỉ</th>
            <th>Giá tiền</th>
            <th>Số phòng trống</th>
            <th>Diện tích (m<sup>2</sup>)</th>
          </tr>
        </thead>
        <tbody>
          <tr (click)="showDetailItem(item)" [ngClass]="{'active': listPTAccept[i] || listPTDelete[i]}" *ngFor="let item of listPTNotChecked, let i = index">
            <td *ngIf="isDelete" class="index">
              <input type="checkbox" name="deletePT" value="1" [ngModel]="listPTDelete[i]" (ngModelChange)="updateCheckAll($event, i, 'delete')">
            </td>
            <td *ngIf="!isDelete" class="index">
              <input type="checkbox" name="acceptPT" value="1" [ngModel]="listPTAccept[i]" (ngModelChange)="updateCheckAll($event, i, 'accept')">
            </td>
            <td>{{item.ngaydang}}</td>
            <td colspan="3">{{item.diachi}}</td>
            <td>
              <p *ngIf="item.giatien > 0">{{item.giatien | number}}</p>
              <p *ngIf="item.giatienTheoNguoi > 0">{{item.giatienTheoNguoi | number}} / người</p>
            </td>
            <td>{{item.sophong}}</td>
            <td>{{item.dientich}}</td>
          </tr>
        </tbody>
      </table>
      <div class="check-all left">
        <span>Chọn tất cả</span>
        <input type="checkbox" (click)="checkAll()" [(ngModel)]="checkAllPT">
      </div>
      <input *ngIf="!isDelete" type="button" class="btn-modal right" (click)="submit()" name="submit" value="Cập nhật">
      <input *ngIf="isDelete" type="button" class="btn-modal right" (click)="deletePT()" name="submit" value="Xóa">
    </div>
  </div>
</div>
<app-detail-popup #detailPopup [typeInfo]="'phòng trọ'" [info]="selectedPT"></app-detail-popup>
