<div class="main container">
  <div class="row">
    <div class="col-lg-5 col-md-5 content">
      <p class="header">
        Không tìm thấy trang của bạn !?
      </p>
      <div class="navigate-btn">
        <a [routerLink]="['/home']" class="btn-modal"><i class="fa fa-arrow-left"></i>Trang chủ</a>
        <a [routerLink]="['/search/result']" class="btn-modal" (click)="searchFull()">Tìm kiếm<i class="fa fa-arrow-right"></i></a>
      </div>
    </div>
    <div class="col-lg-7 col-md-7 suggest-pt">
      <app-grid-list [deals]="deals"></app-grid-list>
    </div>
  </div>
</div>
