.transfer-form {
  margin-top: 30px;
  min-height: calc(100% - 200px);
}

.transfer-form h1 {
  margin-bottom: 30px;
  font-weight: 700;
}

.transfer {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #dddddd;
}

.input-modal {
  display: block;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  margin: 0 auto 50px;
}

.ngh-gui {
  border: 1px solid #dddddd;
  background: #ffffff;
  padding: 15px;
}

.center-section .bounce {
  position: absolute;
  left: 0;
  right: 0;
  width: 100px;
  height: 100px;
  margin: auto;
  border: 2px solid #aaaaaa;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  transition: color .2s ease-in-out, border .2s ease-in-out;
  -webkit-transition: color .2s ease-in-out, border .2s ease-in-out;
  -moz-transition: color .2s ease-in-out, border .2s ease-in-out;
  -o-transition: color .2s ease-in-out, border .2s ease-in-out;
}

.center-section .bounce a {
  display: block;
}

.center-section .bounce:hover,
.center-section .bounce:focus {
  border: 2px solid #c7254e;
}

.center-section .bounce i {
  position: absolute;
  left: 5px;
  right: 0;
  text-align: center;
  color: #aaaaaa;
  line-height: 90px;
}

.center-section .bounce:hover i,
.center-section .bounce:focus i {
  color: #c7254e;
}

.center-section .pt-tiencoc {
  margin-top: 115px;
  background: #ffffff;
  padding: 15px;
  border: 1px solid #dddddd;
}

.center-section .input-modal {
  width: 100%;
  font-size: 36px;
  margin-bottom: 31px;
  color: #c7254e;
}

.ngh-nhan {
  border: 1px solid #dddddd;
  background: #ffffff;
  padding: 15px;
}

.transfer-form app-grid-list >>> .get-more-btn {
  display: none;
}

.send-button {
  text-align: center;
  margin-top: 30px;
}

.error-form p {
  font-size: 20px;
  text-align: center;
  color: #c7254e;
}

.btn-modal {
  padding: 10px;
  width: auto;
  font-weight: 600;
}

.btn-modal i {
  margin: 0 5px;
}
