.transfer-form {
  margin-top: 30px;
  min-height: calc(100% - 170px);
}

.transfer-form h1 {
  margin-bottom: 30px;
  font-weight: 700;
}

.transfer-form label {
  color: #aaaaaa;
}

.transfer,
.phongtro {
  overflow: hidden;
}

.transfer {
  margin-bottom: 10px;
}

.input-modal {
  font-size: 16px;
}

.input-modal.tiencoc {
  color: #c7254e;
  font-weight: 600;
}

.phongtro {
  border: 1px solid #dddddd;
  background: #ffffff;
  padding: 15px;
  margin-bottom: 30px;
}

.phongtro h2 {
  margin-bottom: 20px;
}

.ngh-gui {
  border: 1px solid #dddddd;
  background: #ffffff;
  padding: 15px;
}

.ngh-gui h2 {
  margin-bottom: 20px;
}

.bounce {
  position: absolute;
  left: 0;
  right: 0;
  top: 130px;
  margin: auto;
  width: 80px;
  height: 80px;
  border: 2px solid #aaaaaa;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  transition: color .2s ease-in-out, border .2s ease-in-out;
  -webkit-transition: color .2s ease-in-out, border .2s ease-in-out;
  -moz-transition: color .2s ease-in-out, border .2s ease-in-out;
  -o-transition: color .2s ease-in-out, border .2s ease-in-out;
}

.bounce:hover,
.bounce:focus {
  border: 2px solid #c7254e;
}

.bounce i {
  position: absolute;
  left: 5px;
  right: 0;
  text-align: center;
  color: #aaaaaa;
  line-height: 75px;
}

.bounce:hover i,
.bounce:focus i {
  color: #c7254e;
}

.ngh-nhan {
  border: 1px solid #dddddd;
  background: #ffffff;
  padding: 15px;
}

.ngh-nhan h2 {
  margin-bottom: 20px;
}

.error-form p {
  font-size: 20px;
  text-align: center;
  color: #c7254e;
}

.btn-modal {
  padding: 10px;
  width: auto;
  font-weight: 600;
}

.btn-modal i {
  margin: 0 5px;
}
