<h2 class="modal-title">Chuyển tiền</h2>
<div class="transfer-form">
  <div class="transfer" *ngIf="ngh_gui && ngh_nhan && phongtro">
    <form [formGroup]="complexForm" (ngSubmit)="submitForm(complexForm.value)">
      <span>Họ tên người gửi: </span>
      <input type="text" [formControl]="complexForm.controls['hoten_gui']" [readonly]="true" name="hoten_gui">
      <span>Số tiền: </span>
      <input type="number" [formControl]="complexForm.controls['tiencoc']" [readonly]="true" name="tiencoc">
      <span>Họ tên người nhận: </span>
      <input type="text" [formControl]="complexForm.controls['hoten_nhan']" [readonly]="true" name="hoten_nhan">
      <span>Địa chỉ người nhận: </span>
      <input type="text" [formControl]="complexForm.controls['diachi_nhan']" [readonly]="true" name="diachi_nhan">
      <span>Số ĐT người nhận: </span>
      <input type="text" [formControl]="complexForm.controls['sodt_nhan']" [readonly]="true" name="sodt_nhan">
      <div class="send-button">
        <input type="submit" value="Xác nhận">
      </div>
    </form>
  </div>
</div>
