<div class="container transfer-form">
  <div class="row">
    <alert *ngIf="successMsg && successMsg !== ''" [type]="'success'">
      {{successMsg}}
    </alert>
    <h1>Đặt cọc phòng trọ</h1>
    <div class="transfer" *ngIf="ngh_gui && ngh_nhan">
      <div class="ngh-gui col-md-6">
        <h2>Thông tin bên gửi</h2>
        <label>Mã tài khoản gửi </label>
        <input class="input-modal" type="text" [(ngModel)]="ngh_gui.id" [readonly]="true" name="ngh_gui.id">
        <label>Họ tên người gửi </label>
        <input class="input-modal" type="text" [(ngModel)]="ngh_gui.hoten" [readonly]="true" name="ngh_gui.hoten">
        <label>Địa chỉ</label>
        <input class="input-modal" type="text" [(ngModel)]="ngh_gui.diachi" [readonly]="true" name="ngh_gui.diachi">
        <label>Điện thoại</label>
        <input class="input-modal" type="text" [(ngModel)]="ngh_gui.sodt" [readonly]="true" name="ngh_gui.sodt">
      </div>
      <div class="ngh-nhan col-md-6">
        <h2>Thông tin bên nhận</h2>
        <label>Mã tài khoản nhận </label>
        <input class="input-modal" type="text" [(ngModel)]="ngh_nhan.id" [readonly]="true" name="ngh_nhan.id">
        <label>Họ tên người nhận </label>
        <input class="input-modal" type="text" [(ngModel)]="ngh_nhan.hoten" [readonly]="true" name="ngh_nhan.hoten">
        <label>Địa chỉ</label>
        <input class="input-modal" type="text" [(ngModel)]="ngh_nhan.diachi" [readonly]="true" name="ngh_nhan.diachi">
        <label>Điện thoại</label>
        <input class="input-modal" type="text" [(ngModel)]="ngh_nhan.sodt" [readonly]="true" name="ngh_nhan.sodt">
      </div>
    </div>
    <div class="phongtro" *ngIf="phongtro">
      <h2>Thông tin phòng trọ</h2>
      <div class="col-lg-8 col-md-8">
        <label>Địa chỉ</label>
        <input class="input-modal" type="text" [(ngModel)]="phongtro.diachi" [readonly]="true" name="phongtro.diachi">
        <label>Diện tích</label>
        <input class="input-modal" type="text" [(ngModel)]="phongtro.dientich" [readonly]="true" name="phongtro.dientich">
        <label>Số tiền đặt cọc</label>
        <input *ngIf="typeTiencoc === 0" class="input-modal tiencoc" type="text" [ngModel]="phongtro.tiencoc | number" (ngModelChange)="phongtro.tiencoc = $event" [readonly]="true" name="tiencoc">
        <input *ngIf="typeTiencoc === 1" class="input-modal tiencoc" type="text" [ngModel]="phongtro.tiencocTheoNguoi | number" (ngModelChange)="phongtro.tiencocTheoNguoi = $event" [readonly]="true" name="tiencocTheoNguoi">
      </div>
      <div class="col-md-4">
        <label>Ngày đặt cọc</label>
        <input class="input-modal" type="text" [ngModel]="ngay | date:'dd/MM/yyyy'" [readonly]="true" name="ngay">
        <div class="bounce">
          <a (click)="submitForm()">
            <i class="fa fa-angle-double-right fa-3x" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div bsModal #errorModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" (onHidden)="goBack()">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="errorModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h2 class="modal-title">Thông báo</h2>
      </div>
      <div class="modal-body">
        <div class="error-form">
          <p>Tài khoản của bạn hiện không đủ tiền</p>
        </div>
      </div>
      <div class="modal-footer">
        <a [routerLink]="['/phongtro/detail', phongtro.id]" class="btn-modal left"><i class="fa fa-arrow-left"></i>Về trang trước</a>
        <a [routerLink]="['/home']" class="btn-modal right">Trang chủ<i class="fa fa-arrow-right"></i></a>
      </div>
    </div>
  </div>
</div>
