<div class="container transfer-form">
  <h1 class="modal-title">Chuyển tiền</h1>
  <div class="row transfer" *ngIf="ngh_gui && ngh_nhan && phongtro">
    <form>
      <div class="ngh-gui col-md-4">
        <span>Mã tài khoản: </span>
        <input class="input-modal" type="text" [(ngModel)]="id_gui" [readonly]="true" name="id_gui">
        <span>Họ tên người gửi: </span>
        <input class="input-modal" type="text" [(ngModel)]="hoten_gui" [readonly]="true" name="hoten_gui">
      </div>
      <div class="center-section col-md-4">
        <div class="bounce">
          <a (click)="submitForm()"><i class="fa fa-angle-double-right fa-3x" aria-hidden="true"></i></a>
        </div>
        <input class="input-modal" type="number" [(ngModel)]="tiencoc" [readonly]="true" name="tiencoc">
      </div>
      <div class="ngh-nhan col-md-4">
        <span>Mã tài khoản: </span>
        <input class="input-modal" type="text" [(ngModel)]="id_nhan" [readonly]="true" name="id_nhan">
        <span>Họ tên người nhận: </span>
        <input class="input-modal" type="text" [(ngModel)]="hoten_nhan" [readonly]="true" name="hoten_nhan">
      </div>
    </form>
  </div>
</div>
<div bsModal #errorModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" (onHidden)="goBack()">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="errorModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h2 class="modal-title">Thông báo</h2>
      </div>
      <div class="modal-body">
        <div class="error-form">
          <p>Tài khoản của bạn hiện không đủ tiền</p>
        </div>
      </div>
      <div class="modal-footer">
        <a [routerLink]="['/phongtro/detail', phongtro.id]" class="btn-modal left"><i class="fa fa-arrow-left"></i>Về trang trước</a>
        <a [routerLink]="['/home']" class="btn-modal right">Trang chủ</a>
      </div>
    </div>
  </div>
</div>
