.margin-right {
  margin-right: 50px;
}

.container-fluid,
.user-info-component{
  min-height: calc(100% - 140px);
}

.user-info-component > div {
  min-height: 754px;
}

.user-info-component > div {
  padding-top: 50px;
}

.goback {
  overflow: hidden;
}

.goback .btn-modal {
  width: 145px;
  padding: 10px 5px;
  padding-right: 0;
}

.goback .btn-modal i {
  margin: 0 5px;
}

.nav {
  overflow: hidden;
  margin-right: -15px;
  margin-top: 100px;
}

.nav .btn-modal {
  border-radius: 0;
  border-right: none;
  width: 70%;
  margin-bottom: 30px;
  padding: 0;
}

.nav .btn-modal a {
  float: right;
  width: 100%;
  padding: 20px;
  padding-right: 0;
}

.nav .btn-modal:hover,
.nav .btn-modal.active {
  width: 100%;
  background-color: #000000;
  border: 1px solid #fcdd44;
  border-right: none;
}

.nav .btn-modal:hover a,
.nav .btn-modal.active a {
  color: #ffffff;
  font-weight: 700;
}

.user-info-block {
  border-left: 1px solid rgba(0, 0, 0, 0.3);
  background: #ffffff;
  padding: 50px;
}

.user-info-block h1 {
  margin-bottom: 30px;
}

.user-info-block .has-alert {
  margin-bottom: 30px;
}

.user-info-form {
  margin-left: 100px;
}

.form-group {
  display: inline-block;
  vertical-align: top;
  width: calc(50% - 30px);
  margin-bottom: 30px;
}

.form-group p {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
  display: inline-block;
}

.form-group input {
  text-align: center;
}

.send-button {
  margin: auto;
  width: 30%;
}

.send-button input {
  width: 100%;
  font-size: 20px;
}

.password-form .form-group {
  margin: 0 auto 30px;
  display: block;
  width: 50%;
}
