<div class="container-fluid">
  <div class="row user-info-component">
    <div class="col-md-3">
      <div class="goback">
        <a [routerLink]="['/home']" class="btn-modal left"><i class="fa fa-arrow-left"></i>Về trang chủ</a>
      </div>
      <div class="nav">
        <nav>
          <ul>
            <li [ngClass]="{'active': formInfo === 'password'}" class="btn-modal right"><a [routerLink]="['/user/info', {formInfo: 'password'}]">Đổi mật khẩu</a></li>
            <li [ngClass]="{'active': formInfo !== 'password'}" class="btn-modal right"><a [routerLink]="['/user/info', {formInfo: 'info'}]">Sửa thông tin cá nhân</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="col-md-9 user-info-block">
      <h1 *ngIf="formInfo !== 'password'">Thông tin cá nhân</h1>
      <form *ngIf="formInfo !== 'password'" class="user-info-form" [formGroup]="complexForm" (ngSubmit)="submitForm(complexForm.value)">
        <div class="form-group margin-right">
          <p>Họ tên</p>
          <input class="input-modal" type="text" [formControl]="complexForm.controls['hoten']" name="hoten" placeholder="Họ tên">
          <alert [type]="'danger'" *ngIf="complexForm.controls['hoten'].hasError('required') && complexForm.controls['hoten'].touched">
            Bạn chưa nhập họ tên.
          </alert>
        </div>
        <div class="form-group">
          <p>Email</p>
          <input class="input-modal" type="email" [formControl]="complexForm.controls['email']" name="email" placeholder="Email">
          <alert [type]="'danger'" *ngIf="complexForm.controls['email'].hasError('required') && complexForm.controls['email'].touched">
            Bạn chưa nhập email.
          </alert>
        </div>
        <div class="form-group margin-right">
          <p>Địa chỉ</p>
          <input class="input-modal" type="text" [formControl]="complexForm.controls['diachi']" name="diachi" placeholder="Địa chỉ">
        </div>
        <div class="form-group">
          <p>Số điện thoại</p>
          <input class="input-modal" type="sodt" [formControl]="complexForm.controls['sodt']" name="sodt" placeholder="Số điện thoại">
        </div>
        <div class="form-group margin-right">
          <p>Facebook</p>
          <input class="input-modal" type="text" [formControl]="complexForm.controls['facebook']" name="facebook" placeholder="Facebook">
        </div>
        <div class="form-group">
          <p>Skype</p>
          <input class="input-modal" type="text" [formControl]="complexForm.controls['skype']" name="skype" placeholder="Skype">
        </div>
        <div class="send-button">
          <input class="btn-modal" type="submit" value="Lưu thay đổi">
        </div>
      </form>
      <h1 *ngIf="formInfo === 'password'">Đổi mật khẩu</h1>
      <form *ngIf="formInfo === 'password'" class="password-form" [formGroup]="complexForm" (ngSubmit)="submitForm(complexForm.value)">
        <div class="form-group">
          <p>Mật khẩu cũ</p>
          <input class="input-modal" type="password" [formControl]="complexForm.controls['oldPassword']" name="oldPassword" placeholder="Mật khẩu cũ">
          <alert [type]="'danger'" *ngIf="complexForm.controls['oldPassword'].hasError('required') && complexForm.controls['oldPassword'].touched">
            Bạn chưa nhập mật khẩu cũ.
          </alert>
        </div>
        <div class="form-group">
          <p>Mật khẩu mới</p>
          <input class="input-modal" type="password" [formControl]="complexForm.controls['password']" name="password" placeholder="Mật khẩu mới">
          <alert [type]="'danger'" *ngIf="complexForm.controls['password'].hasError('required') && complexForm.controls['password'].touched">
            Bạn chưa nhập mật khẩu mới.
          </alert>
        </div>
        <div class="form-group">
          <p>Xác nhận mật khẩu mới</p>
          <input class="input-modal" type="password" [formControl]="complexForm.controls['rePassword']" name="rePassword" placeholder="Nhập lại mật khẩu mới">
          <alert [type]="'danger'" *ngIf="complexForm.controls['rePassword'].hasError('required') && complexForm.controls['rePassword'].touched">
            Bạn nhập không khớp với mật khẩu mới.
          </alert>
        </div>
        <div class="send-button">
          <input class="btn-modal" type="submit" value="Lưu thay đổi">
        </div>
      </form>
    </div>
  </div>
</div>
